DICCTIONARY

In [1]:
ed = {}
type(ed)

dict

In [2]:
ed = dict()
type(ed)

dict

In [10]:
student = {'name' : 'krish', 'age' : 32, 'grade' : 24}
student

{'name': 'krish', 'age': 32, 'grade': 24}

In [14]:
student['grade']

24

In [16]:
student['age']

32

In [20]:
student.get('grade')

24

In [22]:
student

{'name': 'krish', 'age': 32, 'grade': 24}

In [24]:
student['age'] = 33

In [28]:
student['address'] = 'India'
student

{'name': 'krish', 'age': 33, 'grade': 24, 'address': 'India'}

In [30]:
del student['grade']
student

{'name': 'krish', 'age': 33, 'address': 'India'}

In [32]:
k = student.keys()

In [34]:
k

dict_keys(['name', 'age', 'address'])

In [36]:
v = student.values()
v

dict_values(['krish', 33, 'India'])

In [38]:
student

{'name': 'krish', 'age': 33, 'address': 'India'}

In [42]:
student_copy = student
student_copy

{'name': 'krish', 'age': 33, 'address': 'India'}

In [44]:
student

{'name': 'krish', 'age': 33, 'address': 'India'}

In [46]:
student['name'] = 'Krish2'
student_copy

{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [48]:
student

{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [50]:
student_copy1 = student.copy() # shallo copy
student_copy1

{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [52]:
student

{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [54]:
student['name']= 'Krish3'
student

{'name': 'Krish3', 'age': 33, 'address': 'India'}

In [56]:
student_copy1

{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [58]:
for i in student.keys():
    print(i)

name
age
address

In [60]:
for i in student.values():
    print(i)

Krish3
33
India

In [62]:
for i, j in student.items():
    print(i, ':',j)

name : Krish3
age : 33
address : India

In [64]:
students = {
    'student1' : {'name' : 'Krish', 'age' : 31},
    'student2' : {'name' : 'Peter', 'age' : 35}
}
students

{'student1': {'name': 'Krish', 'age': 31},
 'student2': {'name': 'Peter', 'age': 35}}

In [66]:
students['student1']['name']

'Krish'

In [68]:
students['student1']['age']

31

In [72]:
for student_id, student_info in students.items():
    print(students)

{'student1': {'name': 'Krish', 'age': 31}, 'student2': {'name': 'Peter', 'age': 35}}
{'student1': {'name': 'Krish', 'age': 31}, 'student2': {'name': 'Peter', 'age': 35}}

In [74]:
for student_id, student_info in students.items():
    print(students)
    for i, j in student_info:
        print(i, ':', j)

{'student1': {'name': 'Krish', 'age': 31}, 'student2': {'name': 'Peter', 'age': 35}}

ValueError: too many values to unpack (expected 2)

In [78]:
for student_id, student_info in students.items():
    print(students)
    for i, j in student_info.items():
        print(i, ':', j)

{'student1': {'name': 'Krish', 'age': 31}, 'student2': {'name': 'Peter', 'age': 35}}
name : Krish
age : 31
{'student1': {'name': 'Krish', 'age': 31}, 'student2': {'name': 'Peter', 'age': 35}}
name : Peter
age : 35

In [80]:
n = int(input('Enter number:'))
squares = {x : x ** 2 for x in range(n)}
squares

Enter number: 6

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [88]:
n = int(input('Enter number:'))
squares = {x : x ** 2 for x in range(0, n + 1)}
for i , j in squares.items():
    print(i, '^2', '=', j)

Enter number: 6

0 ^2 = 0
1 ^2 = 1
2 ^2 = 4
3 ^2 = 9
4 ^2 = 16
5 ^2 = 25
6 ^2 = 36

In [90]:
numbers = [1, 1, 2, 1, 2, 3, 2, 4, 1, 2, 3, 3, 3, 1, 1]
frequency = {}
for n1 in numbers:
    if n1 in frequency:
        frequency[n1] += 1
    else: frequency[n1] = 1
frequency

{1: 6, 2: 4, 3: 4, 4: 1}

In [92]:
d1 = {'a' : 1, 'b' : 2}
d2 = {'b' : 3, 'c' : 4}
d3 = {**d1, **d2}
d3

{'a': 1, 'b': 3, 'c': 4}

In [94]:
to_do_list = ['Buy groceries', 'clean the house', 'pay bills']
to_do_list.append('Schedule meeting')
to_do_list.append('Go for run')
to_do_list.append('Nape')
to_do_list

['Buy groceries',
 'clean the house',
 'pay bills',
 'Schedule meeting',
 'Go for run',
 'Nape']

In [96]:
to_do_list.remove('clean the house')
to_do_list

['Buy groceries', 'pay bills', 'Schedule meeting', 'Go for run', 'Nape']

In [100]:
if 'pay bills' in to_do_list:
    print("Don't forget to pay the bills")

Don't forget to pay the bills

In [102]:
for t in to_do_list:
    print('-', t)

- Buy groceries
- pay bills
- Schedule meeting
- Go for run
- Nape

print(100)

In [110]:
print(100)

100

In [113]:
range(0)

range(0, 0)