FUNCTIOM

In [1]:
print('Function')

Function

In [2]:
def print_number(*krish):
    for number in krish:
        print(number)
print_number(1, 2, 3, 4, 5, 6)

1
2
3
4
5
6

In [4]:
print_number(1, 2, 3, 4, 5, 6, 'krish')

1
2
3
4
5
6
krish

In [39]:
def Print_Detail(**keywords):
    for i, j in keywords.items():
        print(f'{i} : {j}')

In [41]:
Print_Detail(name = 'Krish', rolln = 12, age = 21)

name : Krish
rolln : 12
age : 21

In [59]:
def Convert_Temprature(temp, unit):
    ''' This Function convert temprature between celcius and fahrenheit'''
    if unit == 'c':
        return temp * (9 / 5) + 32 #celcius to fahrenheit
    elif unit == 'f':
        return (temp - 32) * 5 / 9 #fahrenheit to Celcius
    else:
        return None
Convert_Temprature(39, 'c')

102.2

In [61]:
Convert_Temprature(107, 'f')

41.666666666666664

In [67]:
def Calculate_Total_Cost(Cart):
    Total_Cost = 0
    for i in Cart:
        Total_Cost += i['price'] * i['quantity']
    return Total_Cost
Cart = [
    {'name' : 'Apple', 'price' : 0.5, 'quantity' : 4},
    {'name' : 'Banana', 'price' : 0.3, 'quantity' : 6},
    {'name' : 'Orange', 'price' : 0.7, 'quantity' : 3}
]
TC = Calculate_Total_Cost(Cart)

In [69]:
TC

5.8999999999999995

In [73]:
def is_Palindrome(s):
    s = s.lower().replace(' ', '')
    return s == s[::-1]
is_Palindrome('naman')

True

In [75]:
is_Palindrome('Ravi')

False

In [79]:
grades = [85, 78, 90, 99, 60, 64, 70, 50, 95]
def grade_distribution(grades):
    for grade in grades:
        if grade >= 90:
            print("You gor Grade A")
        elif grade >= 80:
            print("You got Grade B")
        elif grade >= 70:
            print("You got Grade C")
        elif grade >= 60:
            print("You got Grade D")
        else:
            print("You got Grade F")
    return 
grade_distribution(grades)

You got Grade B
You got Grade C
You gor Grade A
You gor Grade A
You got Grade D
You got Grade D
You got Grade C
You got Grade F
You gor Grade A

Lambda Argument

In [3]:
def Add(a, b):
    return a + b
Add(10, 20)

30

In [7]:
addition = lambda a,b : a + b
addition(10, 20)

30

In [9]:
even = lambda num: num % 2 == 0
even(5)

False

In [11]:
addt = lambda a, b, c: a + b + c
addt(12, 34, 56)

102

In [21]:
number = [1, 2, 3, 4, 5, 6]

In [23]:
list(map(lambda x : x ** 2, number))

[1, 4, 9, 16, 25, 36]

In [29]:
num1 = [1, 2, 3, 4]
num2 = [5, 6, 7, 8]
add_num = list(map(lambda a, b: a + b, num1, num2))
add_num

[6, 8, 10, 12]

In [31]:
print(add_num)

[6, 8, 10, 12]

In [35]:
words = ['apple', 'banana', 'orange']
upperw = list(map(str.upper, words))
upperw

['APPLE', 'BANANA', 'ORANGE']

In [39]:
def get_name(person):
    return person['name']
poeple = [
    {'name' : 'Krish', 'age' : 32},
    {'name' : 'Qadir', 'age' : 21}
]
list(map(get_name,poeple))

['Krish', 'Qadir']

In [59]:
even = lambda n: n % 2
lst = [i for i in range(int(input()))]
list(filter(even, lst))

 6

[1, 3, 5]

In [55]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(even, lst))

[1, 3, 5, 7]

In [57]:
l = [i for i in range(int(input()))]
l

 7

[0, 1, 2, 3, 4, 5, 6]

In [67]:
l1 = [i for i in range(int(input()))]
Greater_than_5 = list(filter(lambda x : x > 5, l1))
Greater_than_5

 9

[6, 7, 8]