LIST

In [1]:
lst = []
type(lst)

list

In [2]:
fruits = ["Watermalon", 'Apple', 'Kiwi', 'Cherry', 'Gawava']
fruits

['Watermalon', 'Apple', 'Kiwi', 'Cherry', 'Gawava']

In [3]:
fruits[1:] = 'Pineapple'
fruits

['Watermalon', 'P', 'i', 'n', 'e', 'a', 'p', 'p', 'l', 'e']

In [4]:
fruits = ["Watermalon", 'Apple', 'Kiwi', 'Cherry', 'Gawava']

In [5]:
fruits

['Watermalon', 'Apple', 'Kiwi', 'Cherry', 'Gawava']

In [6]:
fruits.append('Lemon')
fruits

['Watermalon', 'Apple', 'Kiwi', 'Cherry', 'Gawava', 'Lemon']

In [8]:
fruits.insert(1, 'Banana')
fruits

['Watermalon', 'Banana', 'Apple', 'Kiwi', 'Cherry', 'Gawava', 'Lemon']

In [9]:
fruits.insert(6, 'Banana')
fruits

['Watermalon',
 'Banana',
 'Apple',
 'Kiwi',
 'Cherry',
 'Gawava',
 'Banana',
 'Lemon']

In [10]:
fruits.remove('Banana')
fruits

['Watermalon', 'Apple', 'Kiwi', 'Cherry', 'Gawava', 'Banana', 'Lemon']

In [11]:
fruits.pop()

'Lemon'

In [12]:
fruits.index("Gawava")

4

In [13]:
fruits.insert(2,'Banana')
fruits

['Watermalon', 'Apple', 'Banana', 'Kiwi', 'Cherry', 'Gawava', 'Banana']

In [14]:
fruits.count("Banana")

2

In [15]:
fruits

['Watermalon', 'Apple', 'Banana', 'Kiwi', 'Cherry', 'Gawava', 'Banana']

In [16]:
fruits.sort()
fruits

['Apple', 'Banana', 'Banana', 'Cherry', 'Gawava', 'Kiwi', 'Watermalon']

In [17]:
fruits.reverse()

In [18]:
fruits

['Watermalon', 'Kiwi', 'Gawava', 'Cherry', 'Banana', 'Banana', 'Apple']

In [19]:
fruits.clear

BASIC

In [1]:
a = 10
b = 10
a == b

True

In [2]:
type(a==b)

bool

In [3]:
result = "hello" + str(5)

In [4]:
result

'hello5'

OPERATOR

In [5]:
#Arithmetic operation
str1 = "krish"
str2 = 'krish'
str1 == str2

True

In [1]:
range(1, 10, -1)

range(1, 10, -1)

In [2]:
for i in range(1, 10, -1):
    print(i)

In [4]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [5]:
str = 'Krish Naik'
for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [8]:
for num in range(1, 101):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
                print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
l = []
type(l)

list

In [2]:
number = [1, 2, 3, 4, 5, 6]
number[::-2]

[6, 4, 2]

In [4]:
for index, n in enumerate(number):
    print(index, n)

0 1
1 2
2 3
3 4
4 5
5 6

In [5]:
l = []
for x in range(10):
    l.append(x * 2)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
l = []
for x in range(10):
    l.append(x ** 2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
square = [num ** 2 for num in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
s = [n ** 2 for n in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [12]:
e = [num for num in range(10) if num % 2 == 0]
e

[0, 2, 4, 6, 8]

In [13]:
l = [1, 2, 3, 4, 5]
l2 = ['a','b' , 'c', 'd'] 
p = [[i, j] for i in l for j in l2]
l

[1, 2, 3, 4, 5]

In [14]:
p

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd'],
 [5, 'a'],
 [5, 'b'],
 [5, 'c'],
 [5, 'd']]

In [16]:
w = ['hello', 'world', 'python', 'list', 'qadir']
l = [len(i) for i in w]
l

[5, 5, 6, 4, 5]