SET

In [4]:
s = {}
type(s)

dict

In [3]:
s = set()
type(s)

set

In [6]:
se = set([1, 2, 3, 4, 5])
se

{1, 2, 3, 4, 5}

In [8]:
se.remove(10)

KeyError: 10

In [10]:
se.discard(11)

In [12]:
se

{1, 2, 3, 4, 5}

In [14]:
r = se.pop()
r

1

In [16]:
se

{2, 3, 4, 5}

In [18]:
se.clear()

In [20]:
se

set()

In [24]:
se = {1, 2, 3, 4, 5}
10 in se

False

In [14]:
s1 = {1, 2, 3, 4, 5}
s2 = {5,6,7 ,8 ,9}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
s1.intersection(s2)

{5}

In [16]:
s1.intersection_update(s2)

In [17]:
s1

{5}

In [18]:
s1 = {1, 2, 3, 4, 5}
s2 = {5,6,7 ,8 ,9}

In [19]:
s1.difference(s2)

{1, 2, 3, 4}

In [20]:
s1.difference_update(s2)

In [21]:
s1

{1, 2, 3, 4}

In [22]:
s1 = {1, 2, 3, 4, 5}
s2 = {5,6,7 ,8 ,9}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 9}

In [23]:
s1 = {1, 2, 3, 4, 5}
s2 = {5,6,7 ,8 ,9}
s1.issubset(s2)

False

In [24]:
s1.issuperset(s2)

False

In [26]:
text = 'In this section we are going to discuss about sets'
w = text.split()
uw = set(w)
print(uw)

{'to', 'this', 'about', 'section', 'going', 'are', 'we', 'sets', 'In', 'discuss'}

In [28]:
text = 'In this section we are going to discuss about sets'
w = text.split()
unique_words = set(w)  # Correct way
print(unique_words)

{'to', 'this', 'about', 'section', 'going', 'are', 'we', 'sets', 'In', 'discuss'}