TUPLE

In [1]:
t = ()
type(t)

tuple

In [2]:
l = list()

In [3]:
type(l)

list

In [4]:
t = tuple()
type(t)

tuple

In [5]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [7]:
tuple([1, 2, 3, 4, 5])

(1, 2, 3, 4, 5)

In [8]:
l = [1, 2, 3, 4, 5]
t = ('Qadir', 23, 7.8, True)
c = l + t

TypeError: can only concatenate list (not "tuple") to list

In [4]:
l = [1, 2, 3, 4, 5]
t = ['Qadir', 23, 7.8, True]
c = l + t

In [5]:
c

[1, 2, 3, 4, 5, 'Qadir', 23, 7.8, True]

In [6]:
c * 3

[1,
 2,
 3,
 4,
 5,
 'Qadir',
 23,
 7.8,
 True,
 1,
 2,
 3,
 4,
 5,
 'Qadir',
 23,
 7.8,
 True,
 1,
 2,
 3,
 4,
 5,
 'Qadir',
 23,
 7.8,
 True]

In [7]:
c

[1, 2, 3, 4, 5, 'Qadir', 23, 7.8, True]

In [8]:
l * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
l.count(1)

1

In [10]:
l.index(3)

2

In [11]:
packed_tuple = 1, "hello", 3.14
packed_tuple

(1, 'hello', 3.14)

In [12]:
a, b, c = packed_tuple
a

1

In [13]:
b

'hello'

In [14]:
c

3.14

In [15]:
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
first

1

In [16]:
middle

[2, 3, 4, 5]

In [17]:
last

6

In [18]:
l = [[1, 2, 3, 4], [5, 6, 7], ['Hello', 3.14, True]]
l

[[1, 2, 3, 4], [5, 6, 7], ['Hello', 3.14, True]]

In [19]:
l[0]

[1, 2, 3, 4]

In [20]:
l [0][2]

3

In [21]:
l[0][0:3]

[1, 2, 3]

In [22]:
t = tuple([[1, 2, 3, 4], [5, 6, 7], ['Hello', 3.14, True]])
t

([1, 2, 3, 4], [5, 6, 7], ['Hello', 3.14, True])

In [23]:
t = ((1, 2, 3, 4, 5), (6, 7, 8), (True,'Qadir', 3.14 ))
t

((1, 2, 3, 4, 5), (6, 7, 8), (True, 'Qadir', 3.14))

In [24]:
t = ((1, 2, 3, 4, 5), (6, 7, 8), [True,'Qadir', 3.14 ])
t

((1, 2, 3, 4, 5), (6, 7, 8), [True, 'Qadir', 3.14])