Fundamental

In [ ]:
a = 10
type(a)

int

In [ ]:
a = 12.7
type(a)

float

In [ ]:
a = 'Qadir'
type(a)

str

In [ ]:
abc = 20
Abc = 30
ABc = 40
ABC = 50
print(abc)
print(Abc)
print(ABc)
print(ABC)

20
30
40
50

1abc = 5

In [ ]:
1abc = 9
print(1abc)

SyntaxError: invalid decimal literal (40545449.py, line 1)

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a = 10
print(a)

10

In [ ]:
a = 0b1000
a

8

In [ ]:
a = 0B1000
a

8

In [ ]:
b = 1.2e3
b

1200.0

In [ ]:
c = 1.2E4
c

12000.0

In [ ]:
d = 0b1.2e3
d

SyntaxError: invalid syntax (3459212366.py, line 1)

In [ ]:
a = 3 + 4j 
type(a)

complex

In [ ]:
b = 4 + 7j
c = a + b
c

(7+11j)

In [ ]:
d = a - b
d

(-1-3j)

In [ ]:
 e = a * b
a

(3+4j)

In [ ]:
a.real

3.0

In [ ]:
a.imag

4.0

In [ ]:
f = a / b
f

(0.6153846153846154-0.07692307692307694j)

In [ ]:
a = 10 < 20
a

True

In [ ]:
a = True + True

In [ ]:
a

2

In [ ]:
a = True + False
a

1

In [ ]:
a = False + False
a

0

In [ ]:
a = "Pankaj"
a

'Pankaj'

In [ ]:
a[0]

'P'

In [ ]:
a[1]

'a'

In [ ]:
a = 'neeraj'
a

'neeraj'

In [ ]:
type(a)

str

In [ ]:
type(a[0])

str

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
a = 'Qadir'
a

'Qadir'

In [ ]:
a[1:3]

'ad'

In [ ]:
a[1:90]

'adir'

In [ ]:
a[1:]

'adir'

In [ ]:
a[:3]

'Qad'

In [ ]:
a * 2

'QadirQadir'

In [ ]:
a * 3

'QadirQadirQadir'

In [ ]:
len(a)

5

In [ ]:
f = fruits.pop()
f

NameError: name 'fruits' is not defined

In [ ]:
 s = 'Pnakaj'
s

'Pnakaj'

In [ ]:
s = 'Pankaj'
s

'Pankaj'

In [ ]:
s[1] = 'u'
s

TypeError: 'str' object does not support item assignment

In [ ]:
a = 10
id(a)

4373487664

In [ ]:
a = 26
id(a)

4373488176

In [ ]:
l = [1, 23.5, 'pankaj', True]
l

[1, 23.5, 'pankaj', True]

In [ ]:
l[1:4]

[23.5, 'pankaj', True]

In [ ]:
l[1] = 77.5

In [ ]:
l

[1, 77.5, 'pankaj', True]

In [ ]:
# append(object) ----> add element in the end
l.append('Sharma')
l

[1, 77.5, 'pankaj', True, 'Sharma']

In [ ]:
l.append(1)

In [ ]:
l

[1, 77.5, 'pankaj', True, 'Sharma', 1]

In [ ]:
l.remove(1) # Remove first occurence [object.remove(item)]
l

[77.5, 'pankaj', True, 'Sharma', 1]

In [ ]:
t = (1, 12.5, 'Pankaj', True)
type(t)

tuple

In [ ]:
t[1] = 10190

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append(13)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t.remove(1) #Read only

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
t = (10, 20, 10, 20, 10) # Duplicate
t

(10, 20, 10, 20, 10)

In [ ]:
t[1] # indexing and Slicing

20

In [ ]:
l = [10, 20, "pankaj", 77]
l

[10, 20, 'pankaj', 77]

In [ ]:
l[2] = "sharma"

In [ ]:
l

[10, 20, 'sharma', 77]

In [ ]:
a = "Pankaj"
a

'Pankaj'

In [ ]:
l = 'Neeraj'
l

'Neeraj'

In [ ]:
l = [10, 20, "pankaj", 77]
l

[10, 20, 'pankaj', 77]

In [ ]:
l[2][0] = 'u'

TypeError: 'str' object does not support item assignment

In [ ]:
a = "john"
b = "due"
c = a + " " + b
c

'john due'

In [ ]:
for element in range(5): print(element)

0
1
2
3
4

In [ ]:
for element in range(5, 10):
    print(element)

5
6
7
8
9

In [ ]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

r = range(5,10)
type(r)

In [ ]:
type(r)

range

In [ ]:
r[0]

5

In [ ]:
r[1]

6

In [ ]:
r[2]

7

In [ ]:
r[3]

8

In [ ]:
r[4]

9

In [ ]:
r[5]

IndexError: range object index out of range

In [ ]:
 l = list(range(2,10))
l

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
t = tuple(range(2,10))
t

(2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
s = list('Pankaj')
s

['P', 'a', 'n', 'k', 'a', 'j']

In [ ]:
s = tuple('Pankaj')
s

('P', 'a', 'n', 'k', 'a', 'j')

In [ ]:
t = (1,2,3,4,5)
l = list(t)
l

[1, 2, 3, 4, 5]

SET

In [ ]:
s = {1,2,3,4,'Pankaj', 'Sharma'}
s

{1, 2, 3, 4, 'Pankaj', 'Sharma'}

In [ ]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
 s.add(5)
s

{1, 2, 3, 4, 5, 'Pankaj', 'Sharma'}

In [ ]:
s.add(3)
s

{1, 2, 3, 4, 5, 'Pankaj', 'Sharma'}

In [ ]:
s.remove(5)
s

{1, 2, 3, 4, 'Pankaj', 'Sharma'}

In [ ]:
a = set('Pankaj')
a

{'P', 'a', 'j', 'k', 'n'}

In [ ]:
a = {1,2,3,4,5}
a.remove(6)

KeyError: 6

In [ ]:
s = {1,2,3,4,5}
x = frozenset(s)
x

frozenset({1, 2, 3, 4, 5})

In [ ]:
type(x)

frozenset

In [ ]:
x.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
a = {1:'Pankaj',2:'Amit',3:'neeraj'}
a

{1: 'Pankaj', 2: 'Amit', 3: 'neeraj'}

In [ ]:
a[1] = 'Arun'
a

{1: 'Arun', 2: 'Amit', 3: 'neeraj'}

In [ ]:
d = {}
type(d)

dict

In [ ]:
d[6] = 'Aman'
d

{6: 'Aman'}

In [ ]:
d[3] = 'akshay'
d

{6: 'Aman', 3: 'akshay'}

In [ ]:
 s = set()
type(s)

set

Arithmetic Operation

In [ ]:
# // it can give both floor and float division

In [ ]:
20.0 /10

2.0

In [ ]:
20.0 //10

2.0

In [ ]:
2 ** 10

1024

In [ ]:
a = 'Pankaj'
b = 'Sharma'
a + b

'PankajSharma'

In [ ]:
a + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
a * 3

'PankajPankajPankaj'

In [ ]:
a * "vala"

TypeError: can't multiply sequence by non-int of type 'str'

Relational Operator

In [ ]:
a > b

False

In [ ]:
a < b

True

In [ ]:
a = 100
id(a)

4350569328

In [ ]:
a = a + 1
id(a)

4350569360

In [ ]:
2 + 3j < 4 + 5j

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [ ]:
True < True

False

In [ ]:
10 < 20 < 30 < 40

True

In [ ]:
10 < 20 < 30 < 4

False

INPUT

In [ ]:
a = input()
b = input()

 20
 30

In [ ]:
a + b

'2030'

In [ ]:
type(a)

str

In [ ]:
a = input()
n1 = int(a)
b = input()
n2 = int(b)

 12
 13

In [ ]:
n1 + n2

25

In [ ]:
a = int(input())
b = int(input()) 
c = a + b
c

 10
 20

30

Logical Operator # Works all type of data

In [ ]:
10 and 20

20

In [ ]:
0 and 20

0

In [ ]:
10 and 'pankaj'

'pankaj'

In [ ]:
10.0 and 3 + 4j

(3+4j)

In [ ]:
'Pankaj' and 'Sharma'

'Sharma'

In [ ]:
"" and 'Pankaj'

''

In [ ]:
10 or 20

10

In [ ]:
0 or 20.3

20.3

In [ ]:
'Pankaj' or 'Sharma'

'Pankaj'

In [ ]:
'Pankaj' or ''

'Pankaj'

In [ ]:
'' or 'Pnakaj'

'Pnakaj'

In [ ]:
not 0

True

In [ ]:
not 'pankaj'

False

In [ ]:
not 0 + 0j

True

In [ ]:
5 & 6

4

In [ ]:
5.3 & 2

TypeError: unsupported operand type(s) for &: 'float' and 'int'

In [ ]:
True & True

True

In [ ]:
a = int(input('Enter First Number:'))
b = int(input('Enter second Number:'))
c = a if a > b else b
print('The largest elemnt is:', c)

Enter First Number: 20
Enter second Number: 30

The largest elemnt is: 30

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter Second number: '))
c = int(input('Enter second number: '))
d = a if a > b and a > c else b if b > c else c
print('The largest number is: ',d)

Enter first number:  13
Enter Second number:  12
Enter second number:  16

The largest number is:  16

In [ ]:
a = 10
b = 9873

In [ ]:
id(a)

4350566448

In [ ]:
id(b)

4565016560

In [ ]:
id(a) == id(b)

False

In [ ]:
a = 10
b = 10
a is b

True

In [ ]:
id(a)

4350566448

In [ ]:
id(b)

4350566448

In [ ]:
a = 'Pankaj'
b = 'Pankaj'
id(a)

5043602320

In [ ]:
id(b)

5043602320

In [ ]:
 a is b

True

In [ ]:
l1 = {1,2,3,4, 'Pankaj'}
l2 = {1,2,3,4,'Pankaj'}
l1 is l2

False

In [ ]:
l1 == l2

True

In [ ]:
s = 'Pankaj sharma is best faculty' 
p in s

NameError: name 'p' is not defined

In [ ]:
P in s

NameError: name 'P' is not defined

In [ ]:
'P' in s

True

In [ ]:
'Pankaj' in s

True

In [ ]:
'Pankaj sharma' in s

True

In [ ]:
'Pankaj Sharma' in s

False

In [ ]:
'pankaj' not in s

True

In [ ]:
l1 = [1,2,3,4,'Pankaj']
print('Pankaj' in l1)

True

In [ ]:
print('Sharma in l1')

Sharma in l1

In [ ]:
print('Sharma' in l1)

False

In [ ]:
print('Hello')
print()
print()
print()
print()
print('Hello')

Hello




Hello

In [ ]:
a = 10
b = 20
c = a + b
print(a,b,c)

10 20 30

print(a,b,c, sep = '@')

In [ ]:
print(a, b, c, sep = '#')

10#20#30

In [ ]:
print(a, b, c, sep = '')

102030

In [ ]:
print(a, b, c, sep = 'Pankaj')

10Pankaj20Pankaj30

In [ ]:
print('Pankaj' + 'Sharma')

PankajSharma

In [ ]:
print('Pankaj', 'Sharma')

Pankaj Sharma

In [ ]:
a = 10
b = 20
print('The sum is:', a + b)

The sum is: 30

print('Hello')
print('Everyone')
print('Kaise ho')

In [ ]:
print('Hello')
print('Everyone')
print('Kaise ho')

Hello
Everyone
Kaise ho

In [ ]:
print('Hello', end = ' ')
print('Everyone', end = ' ')
print('Kaise ho', end = ' ')

Hello Everyone Kaise ho

In [ ]:
l1 = [1, 2, 3, 'Pankaj'] 
print(l1)

[1, 2, 3, 'Pankaj']

In [ ]:
x = (1,2,3,4,5)
print(x)

(1, 2, 3, 4, 5)

In [ ]:
a = 10
b = 20
c = 30
print('First value is:', a, 'Second value is:', b, 'Third value is:', c)

First value is: 10 Second value is: 20 Third value is: 30

In [ ]:
a = int(input('Enter a number:'))
if a % 2 == 0:
    print('Pankaj')

Enter a number: 6

Pankaj

In [ ]:
a = int(input('Enter a number:'))
if a % 2 == 0:
    print(a, 'Even number.')
else:
    print(a, 'Odd number.')

Enter a number: 44

44 Even number.

In [ ]:
year = int(input('Enter your year: '))
if year == 1:
    print('Enjoy kro agle saal sochna')
elif year == 2:
    print('Sochna suru kro kaise karoge')
elif year == 3:
    print('Sochne ka samay gye karne ka time hai')
elif year == 4:
    print('Ab kya kare')
else:
    print('Ram bharose')

Enter your year:  6

Ram bharose

In [ ]:
year = int(input('Enter your year: '))
if year == 1:
    print('Enjoy kro agle saal sochna')
elif year == 2:
    print('Sochna suru kro kaise karoge')
elif year == 3:
    print('Sochne ka samay gye karne ka time hai')
elif year == 4:
    print('Ab kya kare')
else:
    print('Ram bharose')

Enter your year:  1

Enjoy kro agle saal sochna

In [ ]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
num3 = int(input('Enter third number:'))
if num1 > num2 and num1 > num3:
    print(num1, 'is greater')
else:
    if num2 > num3:
        print(num2, 'is greater')
    else:
        print(num3, 'is greater')

Enter first number: 5
Enter second number: 1
Enter third number: 88

88 is greater

In [ ]:
for x in 'Pankaj':
    print(x)

P
a
n
k
a
j

In [ ]:
i = 0
for x in 'Pankaj':
    print('The element at index', i, 'is:',x)
    i += 1;

The element at index 0 is: P
The element at index 1 is: a
The element at index 2 is: n
The element at index 3 is: k
The element at index 4 is: a
The element at index 5 is: j

In [ ]:
for i in range(5):
    print('Pankaj')

Pankaj
Pankaj
Pankaj
Pankaj
Pankaj

In [ ]:
for i in range(1,6):
    print('Pankaj')

Pankaj
Pankaj
Pankaj
Pankaj
Pankaj

In [ ]:
for i in range(1, 101):
    if(i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(5, 1):
    print(i)

In [ ]:
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [ ]:
product = 1;
num = int(input('Enter number:'))
for i in range(1, num + 1):
    product *= i
print('The product of first', num, 'natural number is:', product)

Enter number: 5

The product of first 5 natural number is: 120

In [ ]:
sum = 0
n = int(input("Enter number of elements: "))
l = [int(input()) for _ in range(n)]
for i in l:
    sum += i;
print('Sum of elemnt is',sum)

Enter number of elements:  5
 1
 2
 3
 4
 5

Sum of elemnt is 15

In [ ]:
l = eval(input('Enter a list'))
sum = 0;
for x in l:
    sum += x
print(sum)

Enter a list 1, 2, 3, 4, 5

15

In [ ]:
l = eval(input('Enter a list'))
print(type(l))
sum = 0;
for x in l:
    sum += x
print(sum)

Enter a list 2, 3, 4, 5, 6

<class 'tuple'>
20

In [ ]:
l = eval(input('Enter a list'))
print(type(l))
sum = 0;
for x in l:
    sum += x
print(sum)

Enter a list [2, 3, 4, 5, 6]

<class 'list'>
20

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
i = 1
prod = 1
while i <= 5:
    prod *= i
    i += 1
print(prod)

120

In [ ]:
count = 0
n = int(input('Enter number:'))
if n == 0:
    print('Digit: 1')
else:    
    while n != 0:
        count += 1
        n = n // 10
    print('Number of digit:',count)

Enter number: 1

Number of digit: 1

In [ ]:
i = 1
n = int(input('Enter number:'))
while i != n:
    if i % n == 0:
        print(i,'is factor of',n)
        i += 1

In [ ]:
i = 1
n = int(input('Enter number:'))
while i <= n:
    if i % n == 0:
        print(i,'is factor of',n)
    i += 1

In [ ]:
i = 1
n = int(input('Enter number: '))
while i <= n:  # i ko n tak chalana hai
    if n % i == 0:  # i ko n ka factor check karna hai
        print(i, 'is a factor of', n)
    i += 1  # i ko har iteration me badhana hoga

In [2]:
i = 1
n = int(input('Enter number: '))
while i <= n:
    if n % i == 0:  
        print(i, 'is a factor of', n)
    i += 1

Enter number:  6

1 is a factor of 6
2 is a factor of 6
3 is a factor of 6
6 is a factor of 6

In [3]:
n = int(input('Enter number:'))
for i in range(1, n + 1):
    if n % i == 0:
        print(i, 'is a factor of', n)

Enter number: 6

1 is a factor of 6
2 is a factor of 6
3 is a factor of 6
6 is a factor of 6

In [7]:
l = []
n = int(input('Enter a number:'))
for i in range(1, n + 1):
    if n % i == 0:
        l.append(i)
l

Enter a number: 6

[1, 2, 3, 6]

In [9]:
l = []
n = int(input('Enter a number:'))
for i in range(1, n + 1):
    if n % i == 0:
        l.append(i)
l

Enter a number: 7

[1, 7]

In [15]:
n = int(input('Enter number:'))
perfect = 0
for i in range(1, n):
    if n % i == 0:
        perfect += i
if n == perfect:
    print(n, 'is perfect number')
else:
    print(n, 'is not a perfect number')

Enter number: 6

6 is perfect number

In [17]:
n = int(input('Enter number:'))
perfect = 0
for i in range(1, n):
    if n % i == 0:
        perfect += i
if n == perfect:
    print(n, 'is perfect number')
else:
    print(n, 'is not a perfect number')

Enter number: 10

10 is not a perfect number

In [23]:
sum = 0
n = int(input('Enter number:'))
while n != 0:
    sum += n % 10
    n = n // 10
print('The sum of the digit is:', sum)

Enter number: 15

The sum of the digit is: 6

In [27]:
sum = 0
n = int(input('Enter number:'))
while n != 0:
    sum += n % 10
    n //= 10
print('The sum of the digit is:', sum)

Enter number: 1234

The sum of the digit is: 10

In [45]:
n = int(input('Enter number:'))
a = n
sum = 0
while n != 0:
    l = n % 10
    fact = 1
    for i in range(1, l + 1):
        fact *= i
    sum += fact
    n //= 10
if sum == a:
    print('Strong number')
else:
    print('Number is not strong')

Enter number: 145

Strong number

In [47]:
n = int(input('Enter number:'))
a = n
sum = 0
while n != 0:
    l = n % 10
    prod = 1
    for i in range(1, l + 1):
        prod *= i
    sum += prod
    n //= 10
if sum == a:
    print('Strong number')
else:
    print('Number is not strong')

Enter number: 133

Number is not strong

In [7]:
b = int(input('Enter base:'))
p = int(input('Enter power:'))
product = 1
for i in range(p):
    product *= b
print(b, 'raised to the power', p, 'is:', product)

Enter base: 2
Enter power: 4

2 raised to the power 4 is: 16

In [3]:
b = int(input('Enter base:'))
p = int(input('Enter power:'))
product = 1
i = 0
while i != p:
    product *= b
    i += 1
print(b, 'raised to the power', p, 'is:', product)

Enter base: 2
Enter power: 4

2 raised to the power 4 is: 16

In [6]:
n = int(input('Enter a number:'))
a = n
Cube_sum = 0
prod = 1
while n != 0:
    l = n % 10
    prod = l * l * l
    Cube_sum += prod
    n //= 10
if a == Cube_sum:
    print(a, 'is Armstrong number')
else:
    print(a, 'is not Armstrong number')

Enter a number: 153

153 is Armstrong number

In [8]:
n = int(input('Enter a number:'))
a = n
Cube_sum = 0
prod = 1
while n != 0:
    l = n % 10
    prod = l * l * l
    Cube_sum += prod
    n //= 10
if a == Cube_sum:
    print(a, 'is Armstrong number')
else:
    print(a, 'is not Armstrong number')

Enter a number: 35

35 is not Armstrong number

In [4]:
n = 124567
count = 0
while n != 0:
    count += 1
    n //= 10
count

6

In [8]:
n = int(input('Enter a number:'))
sum = 0 
c = 0
a = b = n
while n != 0:
    c += 1
    n //= 10
while a != 0:
    l = a % 10
    sum += l ** c
    a //= 10
if b == sum:
    print(b, 'is an Armstong number')
else:
    print(b, 'is not an Armstrong number')

Enter a number: 153

153 is an Armstong number

In [10]:
n = int(input('Enter a number:'))
sum = 0 
c = 0
a = b = n
while n != 0:
    c += 1
    n //= 10
while a != 0:
    l = a % 10
    sum += l ** c
    a //= 10
if b == sum:
    print(b, 'is an Armstong number')
else:
    print(b, 'is not an Armstrong number')

Enter a number: 173

173 is not an Armstrong number

In [12]:
n = int(input('Enter a number:'))
sum = 0 
c = 0
a = b = n
while n != 0:
    c += 1
    n //= 10
while a != 0:
    l = a % 10
    sum += l ** c
    a //= 10
if b == sum:
    print(b, 'is an Armstong number')
else:
    print(b, 'is not an Armstrong number')

Enter a number: 1634

1634 is an Armstong number

In [14]:
for i in range(1, 16):
    print('Qadir')
    if i % 3 == 0:
        continue
    print(i)

Qadir
1
Qadir
2
Qadir
Qadir
4
Qadir
5
Qadir
Qadir
7
Qadir
8
Qadir
Qadir
10
Qadir
11
Qadir
Qadir
13
Qadir
14
Qadir

In [16]:
if 10 < 20:
print('Qadir')

IndentationError: expected an indented block after 'if' statement on line 1 (1402964777.py, line 2)

In [18]:
if 10 < 20:
    pass
print('Qadir')

Qadir

In [22]:
for i in range(1, 5):
    for j in range(1,6):
        print(j, end = '')

12345123451234512345

In [26]:
for i in range(1, 5):
    for j in range(1,6):
        print(j, end = '')
    print()

12345
12345
12345
12345

In [28]:
for i in range(1, 5):
    for j in range(1,6):
        print(i, j,)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5

In [32]:
for i in range(1, 5):
    for j in range(1,6):
        print(i, j, end = '')
    print()

1 11 21 31 41 5
2 12 22 32 42 5
3 13 23 33 43 5
4 14 24 34 44 5

In [38]:
for i in range(1, 5):
    for j in range(1,6):
        print(i, j, end = '  ')
    print()

1 1  1 2  1 3  1 4  1 5
2 1  2 2  2 3  2 4  2 5
3 1  3 2  3 3  3 4  3 5
4 1  4 2  4 3  4 4  4 5

In [40]:
for i in range(1, 5):
    for j in range(1,6):
        print(i, j, sep = '', end = ' ')
    print()

11 12 13 14 15
21 22 23 24 25
31 32 33 34 35
41 42 43 44 45

In [64]:
for i in range(1, 5):
    for j in range(1, 5):
        print(j, end = ' ')
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [68]:
for i in range(1, 5):
    for j in range(1, 5):
        if j <= i: 
            print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [70]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [74]:
r = int(input('Enter number of rows:'))
for i in range(1, r + 1):
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

Enter number of rows: 7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [76]:
r = int(input('Enter number of rows:'))
for i in range(1, r + 1):
    for j in range(1, i + 1):
        print('*', end = ' ')
    print()

Enter number of rows: 5

*
* *
* * *
* * * *
* * * * *

In [82]:
for row in range(1, 5):
    print(' ' * (4 - row), end = '')
    print('*' * (2 * row - 1))

   *
  ***
 *****
*******

In [104]:
rows = int(input('Enter number of row:'))
for r in range(1, rows + 1):
    print('  ' * (rows - r), end = '')
    print(' *' * (2 * r - 1))

Enter number of row: 8

               *
             * * *
           * * * * *
         * * * * * * *
       * * * * * * * * *
     * * * * * * * * * * *
   * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *

In [106]:
rows = int(input('Enter number of row:'))
for r in range(1, rows + 1):
    print('  ' * (rows - r), end = '')
    print(' *' * (2 * r - 1))

Enter number of row: 9

                 *
               * * *
             * * * * *
           * * * * * * *
         * * * * * * * * *
       * * * * * * * * * * *
     * * * * * * * * * * * * *
   * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * *

In [108]:
for i in range(1, 11):
    if i % 5 == 0:
        break
    print(i)
else:
    print('Hello')

1
2
3
4

In [110]:
for i in range(1, 11):
    if i % 25 == 0:
        break
    print(i)
else:
    print('Hello')

1
2
3
4
5
6
7
8
9
10
Hello

In [152]:
for i in range(1, 6):
    for j in range(1, 6 - i  + 1):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [154]:
n = int(input('Enter number of rows:'))
for i in range(1, n + 1):
    for j in range(1, n - i  + 2):
        print(j, end = ' ')
    print()

Enter number of rows: 6

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [191]:
for i in range(1, 5):
    for j in range(1, 5 - i + 1):
        print(' ' * (i - 1), end = '')
        print(j, sep = '',end = '')
    print( )

1234
 1 2 3
  1  2
   1

In [213]:
for i in range(1, 5):
    print(' ' * (i - 1), end='')  # Leading spaces ek baar print honi chahiye
    for j in range(1, 5 - i + 1):
        print(j, end='')  # Numbers ek hi line me print honge
    print()  # Newline for next row

1234
 123
  12
   1

In [231]:
for i in range(1, 5):
    print('  ' * (i - 1), end='') 
    for j in range(1, 5 - i + 1):
        print(j, end=' ')  
    print()

1 2 3 4
  1 2 3
    1 2
      1

In [233]:
n = int(input('Enter number:'))
for i in range(1, n + 1):
    print('  ' * (i - 1 + 1), end='') 
    for j in range(1, n + 2 - i ):
        print(j, end=' ')
    print()

Enter number: 6

  1 2 3 4 5 6
    1 2 3 4 5
      1 2 3 4
        1 2 3
          1 2
            1

In [241]:
for i in range(1, 5):
    print(' ' * (4 - i), end = '')
    for j in range(1, i + 1):
        print(j, end = '')
    print()

   1
  12
 123
1234

In [243]:
for i in range(1, 5):
    print('  ' * (4 - i), end = '')
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

      1
    1 2
  1 2 3
1 2 3 4

In [245]:
n = int(input('Enter number of rows:'))
for i in range(1, n + 1):
    print('  ' * (n - i), end = '')
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

Enter number of rows: 6

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
1 2 3 4 5 6

In [285]:
for i in range(1, 5):
    print('  ' * (4 - i), end = '')
    for j in range(1, i + 1):
        print(' * ', end =' ')
    print()
for k in range(1, 4):
    print(' '  * (4 - k), end = '')
    for l in range(1, 4):
        print('*' * (4 - 1 - l) , end = '')
    print()

       *
     *   *
   *   *   *
 *   *   *   *
   ***
  ***
 ***

In [291]:
for i in range(1, 5):
    print('  ' * (4 - i), end='')
    for j in range(1, i + 1):
        print(' * ', end=' ')
    print()
for i in range(1, 4):
    print('  ' * i, end='')
    for j in range(4 - i):
        print(' * ', end=' ') 
    print()

       *
     *   *
   *   *   *
 *   *   *   *
   *   *   *
     *   *
       *

In [293]:
n = int(input('Enter number of rows:')) 
for i in range(1, n + 1):
    print('  ' * (n - i), end='')
    for j in range(1, i + 1):
        print(' * ', end=' ')
    print()
for i in range(1, n):
    print('  ' * i, end='')
    for j in range(n - i):
        print(' * ', end=' ') 
    print()

Enter number of rows: 6

           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *
 *   *   *   *   *   *
   *   *   *   *   *
     *   *   *   *
       *   *   *
         *   *
           *

String

In [295]:
s = 'Pankaj'
t = "neeraj"
a = '''Pankaj sir is a worst faculty'''
s

'Pankaj'

In [297]:
t

'neeraj'

In [299]:
a

'Pankaj sir is a worst faculty'

In [301]:
a = 'Twinkle Twinkle little star
how'

SyntaxError: unterminated string literal (detected at line 1) (3759591019.py, line 1)

In [303]:
b = "Twinkle twinkle little
star"

SyntaxError: unterminated string literal (detected at line 1) (2187068305.py, line 1)

In [305]:
c = '''Twinkle twinkle little star
how i wonder'''

In [307]:
c

'Twinkle twinkle little star\nhow i wonder'

In [309]:
s = "pankaj sharma's world of programing"
s

"pankaj sharma's world of programing"

In [312]:
a = 'This is a \'single quote we are printing it'
a

"This is a 'single quote we are printing it"

In [314]:
s = 'Pankaj'
s

'Pankaj'

In [316]:
s[0]

'P'

In [318]:
s[5]

'j'

In [320]:
s = 'Pankaj'

In [322]:
s

'Pankaj'

In [326]:
s[-1]

'j'

In [328]:
len(s)

6

In [330]:
for i in range(len(s)):
    print(i, s[i])

0 P
1 a
2 n
3 k
4 a
5 j

In [332]:
for i in range(len(s)):
    print(i - len(s), s[i - len(s)])

-6 P
-5 a
-4 n
-3 k
-2 a
-1 j

In [334]:
s = 'Pankaj'
s

'Pankaj'

In [336]:
s[1:] # from index 1 to end of string

'ankaj'

In [338]:
s[:4] # From begning string index 3

'Pank'

In [340]:
s[:] # entire string

'Pankaj'

In [342]:
s[3: 1] #  By default Forward => increasing indexing 3, 2, 1 is not increasing strig

''

In [344]:
s[1: 99]

'ankaj'

In [346]:
s[4 : 2 : - 1]

'ak'

In [348]:
s[1:4:-1]

''

In [350]:
s[-2 : -5 : - 1]

'akn'

In [352]:
# Reverse a string
s[::-1]

'jaknaP'

In [354]:
'Pankaj' + 'sharma'

'Pankajsharma'

In [356]:
'Pankaj' * 3

'PankajPankajPankaj'

In [358]:
for i in s[::-1]:
    print(i)

j
a
k
n
a
P

In [360]:
 s = 'Pankaj Sharma is a worst Faculty'
'Pankaj' in s

True

In [364]:
'Faculty' in s

True

In [370]:
s = input('Enter Original string')
t = input('Enter the Substring you want to find')
if t in s:
    print(t, "substring is present in the string")
else:
    print(t, 'Substring is not present in the string:')

Enter Original string This is python programing
Enter the Substring you want to find python

python substring is present in the string

In [372]:
s = input('Enter Original string')
t = input('Enter the Substring you want to find')
if t in s:
    print(t, "substring is present in the string")
else:
    print(t, 'Substring is not present in the string:')

Enter Original string This is an easy language
Enter the Substring you want to find python

python Substring is not present in the string:

In [376]:
s = input('Enter one word string:')
if s[::-1] == s:
    print('Yes')
else:
    print('No')

Enter one word string: naman

Yes

In [382]:
s = input('Enter one word string:')
if s[::-1] == s:
    print('Yes')
else:
    print('No')

Enter one word string: jahaj

Yes

In [384]:
s = input('Enter one word string:')
if s[::-1] == s:
    print('Yes')
else:
    print('No')

Enter one word string:  jahaj

No

In [386]:
'Pankaj' > 'Sharma'

False

In [388]:
'Ramesh' > 'Ramu'

False

In [390]:
'pankaj' < 'Pankaj'

False

In [392]:
s = 'Pankaj    '
len(s)

10

In [394]:
updated = s.rstrip() # Only for String

In [400]:
updated

'Pankaj'

In [402]:
len(updated)

6

In [404]:
s = '    Pankaj    '
len(s)

14

In [408]:
up = s.lstrip()
up

'Pankaj    '

In [410]:
len(up)

10

In [413]:
s = 'Pankaj sharma is a worst faculty'
l = s.split()
l

['Pankaj', 'sharma', 'is', 'a', 'worst', 'faculty']

In [415]:
type(l)

list

In [421]:
a = "06/03/2025"
l1 = a.split('/')
l1

['06', '03', '2025']

In [423]:
l = ['Pankaj', 'sharma', 'is', 'a', 'worst', 'faculty']
str = ' '.join(l)
str

'Pankaj sharma is a worst faculty'

In [425]:
s1 = 'Pankaj sharma is a worst faculty'
for word in s1.split():
    if len(word) % 2 == 0:
        print(word)

Pankaj
sharma
is

In [443]:
s = 'pankaj sharma sir'
l = s.split()
l1 = []
for i in range(len(l) - 1):
    l1.append(l[i][0])
l1.append(l[-1])
' '.join(l1)

'p s sir'

In [439]:
s = 'pankaj sharma sir'
l = s.split()
l1 = []
for i in range(len(l) - 1):
    l1.append(l[i][0])
l1.append(l[-1])
result = ' '.join(l1)
result

'p s sir'

In [445]:
s = input()
l = s.split()
l1 = []
for i in range(len(l) - 1):
    l1.append(l[i][0])
l1.append(l[-1])
result = ' '.join(l1)
result

 pankaj sharma sir

'p s sir'

In [449]:
s = 'Pankaj sharma sir Pankaj sharma'
s

'Pankaj sharma sir Pankaj sharma'

In [451]:
s.find('Pankaj')

0

In [453]:
s.find('is')

-1

In [455]:
s.find('sir')

14

In [457]:
s = 'Pankaj sir is a good faculty'
s.find('pankaj', 10, 20)

-1

In [459]:
s.find('good', 10, 20)

16

In [463]:
s = 'Pankaj sir is Pankaj sir'
s.rfind('Pankaj')

14

In [465]:
s = 'Pankaj sir is Pankaj sir'
s.count('Pankaj')

2

In [467]:
s = 'Pankaj sir is a good faculty'
t = s.replace('Pankaj', 'Baba')
t

'Baba sir is a good faculty'

In [471]:
s = 'Pankaj Sharma sir'

In [473]:
s

'Pankaj Sharma sir'

In [479]:
t = input().split()
x = ' '.join(t[::-1])
x

 Pankaj sharma is great

'great is sharma Pankaj'

In [497]:
s = 'pankaj sharma sir'
lst = s.split()
l2 = []
for word in lst:
    l2.append(word[::-1])
op = ' '.join(l2)
op

'jaknap amrahs ris'

In [503]:
s = 'Pankaj Sharma sir'
s.startswith('p')

False

In [505]:
s = 'Pankaj Sharma sir'
s.startswith('P')

True

In [507]:
s = 'Pankaj Sharma sir'
s.endswith('r')

True

In [509]:
s.lower()

'pankaj sharma sir'

In [511]:
s.upper()

'PANKAJ SHARMA SIR'

In [513]:
s.swapcase()

'pANKAJ sHARMA SIR'

In [515]:
s.isalnum()

False

In [517]:
s = 'Pankaj'
s

'Pankaj'

In [519]:
s.isalnum()

True

In [521]:
s3 = 'James007'
s3.isalnum()

True

In [523]:
s4 = 'Ravi@321'
s4.isalnum()

False

 LIST

In [526]:
l = []
type(l)

list

In [528]:
l = list(range(1,6))
l

[1, 2, 3, 4, 5]

In [536]:
l = eval(input('Enter a list:'))
l

Enter a list: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [538]:
l = []
for i in range(1, 6):
    l.append(i)
l

[1, 2, 3, 4, 5]

In [540]:
l = [1, True, 12.5, 'Pankaj']
l

[1, True, 12.5, 'Pankaj']

In [546]:
s = input().split()
l = []
for element in s:
    l.append(int(element))
l

 1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [548]:
n = int(input())
l = []
for i in range(1, n + 1):
    l.append(i)
l

 6

[1, 2, 3, 4, 5, 6]

In [552]:
n = int(input())
l = list(range(1,n + 1))
l

 5

[1, 2, 3, 4, 5]

In [554]:
n = int(input('Enter size:'))
l = []
for i in range(n):
    inp = int(input())
    l.append(inp)
l

Enter size: 4
 1
 2
 3
 4

[1, 2, 3, 4]

In [556]:
n = int(input('Enter size:'))
l = []
for i in range(n):
    inp = int(input())
    l.append(inp)
l

Enter size: 4
 1 22 33 55

ValueError: invalid literal for int() with base 10: '1 22 33 55 '

In [558]:
l = [0 for i in range(5)]
l

[0, 0, 0, 0, 0]

In [560]:
 l = [i for i in range(6)]
l

[0, 1, 2, 3, 4, 5]

In [562]:
 l = [2 * i for i in range(5)]
l

[0, 2, 4, 6, 8]

In [564]:
l = [i * i for i in range(5)]
l

[0, 1, 4, 9, 16]

In [566]:
l = []
l.append(100)

In [568]:
l

[100]

In [570]:
l .append(200)
l

[100, 200]

In [572]:
l.append('Pankaj')
l

[100, 200, 'Pankaj']

In [583]:
l.insert(0, 'Neeraj')
l

['Neeraj', 100, 200, 'Pankaj']

In [585]:
l.insert(2, 999)
l

['Neeraj', 100, 999, 200, 'Pankaj']

In [593]:
l.insert(50, 'Dheraj')
id(l)

4807431360

In [589]:
l

['Neeraj', 100, 999, 200, 'Pankaj', 'Dheraj']

In [591]:
id(l)

4807431360

In [595]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [597]:
b

[4, 5, 6]

In [601]:
l = [1, 2, 3, 4, 1, 6, 4, 4] 
l.remove(2)
l

[1, 3, 4, 1, 6, 4, 4]

In [603]:
l.remove(4)
l

[1, 3, 1, 6, 4, 4]

In [605]:
l.remove(99)

ValueError: list.remove(x): x not in list

In [609]:
a = l.remove(1)
print(a)

None

In [611]:
a = [1, 2, 3, 4]
b = a.pop()
a

[1, 2, 3]

In [613]:
b

4

In [615]:
x = []
x.pop()

IndexError: pop from empty list

In [617]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [619]:
del(a)

In [621]:
a

NameError: name 'a' is not defined

In [625]:
a = [1, 2, 3, 4]
a = None
print(a)

None

In [627]:
a = [2, 3]
a

[2, 3]

In [629]:
l = [1, 12.5, 'Pankaj', True]
len(l)

4

In [631]:
l.index('Pankaj')

2

In [633]:
l.index('Neeraj')

ValueError: 'Neeraj' is not in list

In [637]:
if 'Neeraj' in l:
    i = l.index('Neeraj')
    print('Element is present at index', i)
else:
    print('Element is not present')

Element is not present

In [639]:
a = [1, 2, 3, 4]
a.reverse()
a

[4, 3, 2, 1]

In [641]:
a = ['pankaj' , 2, 'Neerej', 4]
a

['pankaj', 2, 'Neerej', 4]

In [643]:
a.reverse()

In [645]:
a

[4, 'Neerej', 2, 'pankaj']

In [647]:
a = [1, 2, 30, -3, 44, -99, 75]
a.sort()
a

[-99, -3, 1, 2, 30, 44, 75]

In [649]:
a = ['Pankaj', 44, 22, 12.3]
a.sort()
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [651]:
 a = [1, 2, 3, 4, 5]
a.reverse(sort = True)

TypeError: list.reverse() takes no keyword arguments

In [653]:
a = [1, 2, 3, 4, 5]
a.reverse(sort = True)

TypeError: list.reverse() takes no keyword arguments

In [655]:
a = [1, 2, 3, 4, 5]
a.reverse(sort() = True)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1913969154.py, line 2)

In [657]:
a = [1, 2, 3, 4, 5]
a.sort(reverse = True)

In [659]:
a

[5, 4, 3, 2, 1]

In [661]:
x = [1, 2, 3, 4, 5]
y = x
id(x)

4809384512

In [663]:
id(y)

4809384512

In [665]:
x[0] = 111

In [667]:
x

[111, 2, 3, 4, 5]

In [669]:
y

[111, 2, 3, 4, 5]

In [673]:
a = [10, 20, 30, 4, 50]
b = a[:]
b

[10, 20, 30, 4, 50]

In [675]:
a

[10, 20, 30, 4, 50]

In [677]:
id(a)

4808484800

In [679]:
id(b)

4808488576

In [681]:
a[0] = 45
a

[45, 20, 30, 4, 50]

In [683]:
b

[10, 20, 30, 4, 50]

In [685]:
x = [1, 'Pankaj', 3, 40]
x

[1, 'Pankaj', 3, 40]

In [687]:
y = x.copy()
y

[1, 'Pankaj', 3, 40]

In [689]:
id(x)

4809284736

In [691]:
id(y)

4809387904

In [693]:
x[0] = 99
x

[99, 'Pankaj', 3, 40]

In [695]:
y

[1, 'Pankaj', 3, 40]

In [699]:
l1 = [1, 2, 3, 4, 'Pankaj']
l2 = [4, 5, 6, 7, 'Neeraj']
s = l1 + l2
s

[1, 2, 3, 4, 'Pankaj', 4, 5, 6, 7, 'Neeraj']

In [701]:
l = [1, 2, 3, 'Pankaj']
l * 3

[1, 2, 3, 'Pankaj', 1, 2, 3, 'Pankaj', 1, 2, 3, 'Pankaj']

In [707]:
a = [1, 2, 3]
b = [3, 2, 1]
c = [1, 2, 3]
id(c)

4808887168

In [709]:
id(a)

4808884736

In [711]:
a == b

False

In [713]:
a == c

True

In [715]:
b == c

False

In [717]:
a != b

True

In [719]:
b != c

True

In [721]:
a != c

False

In [723]:
a = [1, 2, 3]
b = [2, 3, 4]
a < b

True

In [725]:
a = [1, 2, 3]
b = [1, 2, 8]
a < b

True

In [727]:
la = [1, 2, 3, 4, 5]
la.clear()
la

[]

In [729]:
a = [[1, 2, 3], [4, 5, 6]]
a

[[1, 2, 3], [4, 5, 6]]

In [731]:
b = [[1, 2, 3], [4, 5]]
b

[[1, 2, 3], [4, 5]]

In [733]:
a[0]

[1, 2, 3]

In [735]:
b[1]

[4, 5]

In [737]:
a[0][1]

2

In [757]:
Dimension = input('Enter row and column:').split()
m = int(Dimension[0])
n = int(Dimension[1])
l =[]
for i in range(m):
    new_row = [int(ele) for ele in input(f'Enter element of {i + 1} row:').split()]
    l.append(new_row)
l

Enter row and column: 2 3
Enter element of 1 row: 1 2 3
Enter element of 2 row: 4 5 6

[[1, 2, 3], [4, 5, 6]]

In [763]:
m = int(input('Enter number of row:'))
n = int(input("Enter number of column:"))
l = []
l1 = []
for i in range(m):
    for j in range(n):
        a = int(input(f'Enter {[i],[j]} Element:'))
        l1.append(a)
    l.append(l1)
l

Enter number of row: 2
Enter number of column: 3
Enter ([0], [0]) Element  1
Enter ([0], [1]) Element  2
Enter ([0], [2]) Element  3
Enter ([1], [0]) Element  4
Enter ([1], [1]) Element  5
Enter ([1], [2]) Element  6

[[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [767]:
m = int(input('Enter number of row:'))
n = int(input("Enter number of column:"))
l = []
l1 = []
for i in range(m):
    for j in range(n):
        a = int(input(f'Enter{[i],[j]}Element:'))
        l1.append(a)
    l.append(l1)
l

Enter number of row: 2
Enter number of column: 3
Enter([0], [0])Element: 1
Enter([0], [1])Element: 2
Enter([0], [2])Element: 3
Enter([1], [0])Element: 4
Enter([1], [1])Element: 5
Enter([1], [2])Element: 6

[[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [777]:
m = int(input('Enter number of row:'))
n = int(input("Enter number of column:"))
l2 = []
l1 = []
print('Enter Elemnet...........')
for i in range(m):
    for j in range(n):
        a = int(input(f'Enter{[i],[j]}Element:'))
        l1.append(a)
    l2.append(l1)
print('-------------------------')
print('Enterd elemnt are.......')
for k in range(m):
    for l in range(n):
        print(f'Element({k},{l}):{l2[k][l]}')

Enter number of row: 2
Enter number of column: 3

Enter Elemnet...........

Enter([0], [0])Element: 1
Enter([0], [1])Element: 2
Enter([0], [2])Element: 3
Enter([1], [0])Element: 4
Enter([1], [1])Element: 5
Enter([1], [2])Element: 6

-------------------------
Enterd elemnt are.......
Element(0,0):1
Element(0,1):2
Element(0,2):3
Element(1,0):1
Element(1,1):2
Element(1,2):3

In [779]:
l

2

In [781]:
l2

[[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [785]:
Dimension = input('Enter row and column: ').split()
m = int(Dimension[0])
n = int(Dimension[1])
list1d = [int(i) for i in input('Enter matrix elements: ').split()]
l = []
for i in range(m):
    begin = n * i
    end = n * (i + 1)
    newr = list1d[begin:end]
    l.append(newr)
print("\nMatrix:")
for row in l:
    print(row)  # Print each row properly

Enter row and column:  2 3
Enter matrix elements:  1 2 3 4 5 6

Matrix:
[1, 2, 3]
[4, 5, 6]

In [787]:
l

[[1, 2, 3], [4, 5, 6]]

TUPLE

In [792]:
t = 1,2
type(t)

tuple

In [794]:
b = ()
type(b)

tuple

In [796]:
a = (10 + 20) * 30
a

900

In [798]:
b = (10 + 20) * (30)
b

900

In [800]:
t = (10)
type(t)

int

In [802]:
t = (1,)
type(t)

tuple

In [804]:
t = ()
s = (1,)
a = (1, 2, 3)
b = tuple([1, 2, 3, 4])

In [806]:
c = tuple('Pankaj')
print(t,s,a,b,c)

() (1,) (1, 2, 3) (1, 2, 3, 4) ('P', 'a', 'n', 'k', 'a', 'j')

In [808]:
a = (1, 2, 3, 4, 5)
b = a * 3
b

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [810]:
a = (1, 2, 3, 4)
b = (5, 6, 7)
c = a + b
c

(1, 2, 3, 4, 5, 6, 7)

In [814]:
a = (1, 2, 3, 4, 'Pankaj')
a[0]

1

In [816]:
a[3]

4

In [818]:
a[4]

'Pankaj'

In [820]:
a[100]

IndexError: tuple index out of range

In [ ]:
a = (1, 2, 3, 4, 'Pankaj', 12.5)

In [824]:
a[2:]

(3, 4, 'Pankaj')

In [826]:
a[0] = 'Pankaj'

TypeError: 'tuple' object does not support item assignment

In [828]:
a = (1, 2, 3) + [1, 2, 3, 4]

TypeError: can only concatenate tuple (not "list") to tuple

In [830]:
a = [1, 2, 3, 4] + (5, 6, 7)

TypeError: can only concatenate list (not "tuple") to list

In [832]:
b = ((1, 2, 3), 'Pankaj')
b

((1, 2, 3), 'Pankaj')

In [834]:
type(b)

tuple

In [836]:
len(b)

2

In [838]:
b[0]

(1, 2, 3)

In [840]:
b[1]

'Pankaj'

In [842]:
a = (1, 2, 1, 3, 1, 4, 1, 5, 1)
a.count(1)

5

In [844]:
a.count(19)

0

In [846]:
a = (1, 2, 3, 4)
b = list(a)

In [848]:
b

[1, 2, 3, 4]

In [850]:
a = [0, 12, 3, 45]
b = (12, 3, 45, 0)
a

[0, 12, 3, 45]

In [852]:
b

(12, 3, 45, 0)

In [854]:
c = sorted(b)
c

[0, 3, 12, 45]

In [856]:
b

(12, 3, 45, 0)

In [858]:
a = (12, 3, 45, 0, -900, 1)
b = sorted(a)
b

[-900, 0, 1, 3, 12, 45]

In [860]:
b = sorted(a, reverse = True)
b

[45, 12, 3, 1, 0, -900]

In [862]:
max(a)

45

In [864]:
min(a)

-900

In [868]:
a = 10
b = 'Pankaj'
c = 20
d = 12.5
t = (a, b, c, d)
t

(10, 'Pankaj', 20, 12.5)

In [870]:
e, f, g, h = t
print(e, f, g, h)

10 Pankaj 20 12.5

In [872]:
x, y = t

ValueError: too many values to unpack (expected 2)

 SET

In [875]:
s = set()
type(s)

set

In [877]:
a = {1, 2, 3}
type(a)

set

In [879]:
s = set('pankaj') # 5 element comes 'a' will come once
s

{'a', 'j', 'k', 'n', 'p'}

In [885]:
s = set([1, 1, 1, 2, 1, 3, 4, 1])
s

{1, 2, 3, 4}

In [887]:
a = set(range(1, 10))
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [889]:
a = set()
a.add(1)
a.add(2)
a

{1, 2}

In [891]:
a.add(1)
a

{1, 2}

In [893]:
a.add([1, 2, 3, 4])

TypeError: unhashable type: 'list'

In [897]:
a = range(4)

In [901]:
print(a)

range(0, 4)

In [906]:
a = {1, 2, 3, 4, 'Pankaj'}
a.update([10, 20, 30])
a

{1, 10, 2, 20, 3, 30, 4, 'Pankaj'}

In [908]:
a.update([10, 20, 30])
a

{1, 10, 2, 20, 3, 30, 4, 'Pankaj'}

In [910]:
a.update(12.43)

TypeError: 'float' object is not iterable

In [916]:
b = a.pop()
b

2

In [918]:
a

{3, 4, 5}

In [920]:
a

{3, 4, 5}

In [922]:
s = set()
s.pop()

KeyError: 'pop from an empty set'

In [924]:
s = {1, 2, 3}
s.remove(12)

KeyError: 12

In [926]:
s = {1, 2, 3, 40, 56}
s.discard(100)

In [928]:
s

{1, 2, 3, 40, 56}

In [930]:
s.clear()

In [932]:
s

set()

a = {1, 2, 3, 4}
b = {5, 6, 7}
a.union

In [935]:
a = {1, 2, 3, 4} 
b = {5, 6, 7} 
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [937]:
a

{1, 2, 3, 4}

In [939]:
b

{5, 6, 7}

In [941]:
s = a.union(b)
s

{1, 2, 3, 4, 5, 6, 7}

In [945]:
t = b.union(a)
t

{1, 2, 3, 4, 5, 6, 7}

In [951]:
a | b

{1, 2, 3, 4, 7, 56, 58}

In [947]:
a = {1, 2, 3, 56}
b = {4, 7, 2, 58}
a.intersection(b)

{2}

In [949]:
b.intersection(a)

{2}

In [953]:
a & b

{2}

In [959]:
a = {1, 2, 3}
b = {1, 23, 45}
a.difference(b)

{2, 3}

In [961]:
b.difference(a)

{23, 45}

In [963]:
a - b

{2, 3}

In [965]:
b - a

{23, 45}

In [967]:
a ^ b

{2, 3, 23, 45}

In [969]:
a.symmetric_difference(b)

{2, 3, 23, 45}

In [971]:
s = (2 * i for i in range(1, 10))
s

DICTIONARY

In [974]:
d = {}
type(d)

dict

In [976]:
d = {1: 'Amit', 2: 'Anita', 3: 'Aman'}
d

{1: 'Amit', 2: 'Anita', 3: 'Aman'}

In [978]:
type(d)

dict

In [980]:
(1, 'Pankaj') # pair of values
(2, 'Neeraj')
(3 : 'Pankaj')
l = [(1, 'Pankaj'), (2, 'Neeraj'), (3 : 'Pankaj')] #list of pairs  
d = dict(l) # it will create a dict

SyntaxError: invalid syntax (817189006.py, line 3)

In [982]:
(1, 'Pankaj') # pair of values
(2, 'Neeraj')
(3 , 'Pankaj')
l = [(1, 'Pankaj'), (2, 'Neeraj'), (3 , 'Pankaj')] #list of pairs  
d = dict(l) # it will create a dict

In [984]:
d

{1: 'Pankaj', 2: 'Neeraj', 3: 'Pankaj'}

In [986]:
d = dict.fromkeys(['Pankaj', 12, 34.5])
d

{'Pankaj': None, 12: None, 34.5: None}

In [988]:
d = dict.fromkeys(['Pankaj', 12, 34.5], 0)
d

{'Pankaj': 0, 12: 0, 34.5: 0}

In [990]:
di = {1 : 2, 12 : 3, 'Pankaj' : [1, 2, 3, 'Neeraj'], 4 : {2 : 7}}
di

{1: 2, 12: 3, 'Pankaj': [1, 2, 3, 'Neeraj'], 4: {2: 7}}

In [996]:
l = [(1, 'Pankaj'), (1, 'Neeraj'), (3 , 'Pankaj')]
d1 = dict(l)

In [998]:
d1

{1: 'Neeraj', 3: 'Pankaj'}

In [1000]:
l = [(1, 'Pankaj'), (1, 'Neeraj'), (3 , 'Pankaj'), (1, 5)]
d2 = dict(l)

In [1002]:
d2

{1: 5, 3: 'Pankaj'}

In [1004]:
d2[1]

5

In [1006]:
d[100]

KeyError: 100

In [1008]:
d.get('Pankaj')

0

In [1012]:
d.get(3)

In [1014]:
d

{'Pankaj': 0, 12: 0, 34.5: 0}

In [1016]:
d.get(100,0)

0

In [1018]:
d.keys()

dict_keys(['Pankaj', 12, 34.5])

In [1020]:
d.get('Pankaj')

0

In [1022]:
d.values()

dict_values([0, 0, 0])

In [1024]:
d.items()

dict_items([('Pankaj', 0), (12, 0), (34.5, 0)])

In [1026]:
d = {1: 'Pankaj', 2: 'Pankaj', 3: 'Amit'}
for i in d:
    print(i)

1
2
3

In [1030]:
for i in d:
    print(d[i])

Pankaj
Pankaj
Amit

In [1032]:
a = {}
a[1]

KeyError: 1

In [1034]:
a[1] = 'Amit'
a

{1: 'Amit'}

a = {1: 2, 2: 'Pankaj', 3: 'Neeraj', 4: 13.6}
a

In [1039]:
a = {1: 2, 2: 'Pankaj', 3: 'Neeraj', 4: 13.6} 
a

{1: 2, 2: 'Pankaj', 3: 'Neeraj', 4: 13.6}

In [1041]:
b = {1: 'Arun', 3 : 89, 5 :  12}
a.update(b)

In [1043]:
a

{1: 'Arun', 2: 'Pankaj', 3: 89, 4: 13.6, 5: 12}

In [1045]:
a = {1: 2, 2: 'Pankaj', 3: 'Neeraj', 4: 13.6} 
b = {1: 'Arun', 3 : 89, 5 :  12}
b.update(a)
b

{1: 2, 3: 'Neeraj', 5: 12, 2: 'Pankaj', 4: 13.6}

In [1047]:
a

{1: 2, 2: 'Pankaj', 3: 'Neeraj', 4: 13.6}

In [1051]:
s = input('Enter a string:')
wordklist = s.split()
d = {}
for w in wordklist:
    if w in d:
         d[w] = d[w] + 1
    else:
        d[w] = 1
d

Enter a string: pankaj sharma is pankaj sharma sir

{'pankaj': 2, 'sharma': 2, 'is': 1, 'sir': 1}

In [1057]:
s = input('Enter a string:')
wordklist = s.split()
d = {}
for w in wordklist:
    d[w] = d.get(w,0) + 1
d

Enter a string: pankaj sharma sir is pankaj sharma

{'pankaj': 2, 'sharma': 2, 'sir': 1, 'is': 1}

In [1059]:
d = {1 : 2, 3 : 4}
1 in d

True

In [1065]:
a = {1 : 'Amit', 2 : 'Pankaj', 3 : 12.43}
del a[1]

In [1067]:
a

{2: 'Pankaj', 3: 12.43}

In [1069]:
del a[100]

KeyError: 100

In [1071]:
a = {1 : 'Pankaj', 2 : 'Amit', 3 : 'Neeraj'}
del a

In [1073]:
a

NameError: name 'a' is not defined

In [1075]:
a = {1 : 'Pankaj', 2 : 'Amit', 3 : 'Neeraj'}
a.clear()
a

{}

In [1077]:
a = {1 : 'Pankaj', 2 : 'Amit', 3 : 'Neeraj'}
m = a.pop(1)
m

'Pankaj'

In [1079]:
a = {1 : 'Pankaj', 2 : 'Amit', 3 : 'Neeraj'}
j = a.popitem()
j

(3, 'Neeraj')

In [1081]:
a = 3
a++

SyntaxError: invalid syntax (1868587152.py, line 2)

In [1083]:
++a

TypeError: bad operand type for unary +: 'dict'

In [1087]:
s = input()
d = {}
l = []
for i in s:
    l.append(i)
for i in l:
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1
d

 abdulqadir

{'a': 2, 'b': 1, 'd': 2, 'u': 1, 'l': 1, 'q': 1, 'i': 1, 'r': 1}

In [1091]:
s = input()
d = {}
l = []
for i in s:
    l.append(i)
for i in l:
   d[i] = d.get(i, 0) + 1
d

 sumeet

{'s': 1, 'u': 1, 'm': 1, 'e': 2, 't': 1}

In [1093]:
s = input()
d = {}
l = []
for i in s:
    if i == 'a' or i == 'e' or i == 'o' or i == 'u' or i == 'i':
        l.append(i)
for i in l:
   d[i] = d.get(i, 0) + 1
d

 abdul

{'a': 1, 'u': 1}

In [1103]:
s = input('Enter string:')
l = list(s)
d = {}
for ele in l:
    if ele in 'aeiouAEIOU':
        d[ele] = d.get(ele, 0) + 1
d

Enter string: abdulqadir

{'a': 2, 'u': 1, 'i': 1}

In [1117]:
s1 = set(input('Emter first set seprated by coma:').split(','))
s2 = set(input('Enter Second set seprated by coma:').split(','))
l = len(s1)
count = 0
d = {}
for i in s1:
    if i in s2:
        count += 1
if count == l:
    print(s1, 'is subset of',s2)
else:
    print(s1,'is not a subset of', s2)

Emter first set seprated by coma: 1,2,3,4
Enter Second set seprated by coma: 1,2,3,4,5,6

{'1', '4', '3', '2'} is subset of {'1', '4', '2', '6', '3', '5'}

In [1119]:
s1 = set(input('Emter first set seprated by coma:').split(','))
s2 = set(input('Enter Second set seprated by coma:').split(','))
l = len(s1)
count = sum(1 for i in s1 if i in s2)
if count == l:
    print(s1, 'is subset of',s2)
else:
    print(s1,'is not a subset of', s2)

Emter first set seprated by coma: 1,2,3,4,5
Enter Second set seprated by coma: 1,2,3,4,5,6,7,8

TypeError: 'int' object is not callable

In [1121]:
s1 = set(input('Enter first set separated by comma: ').split(','))
s2 = set(input('Enter second set separated by comma: ').split(','))
count = sum(1 for i in s1 if i in s2)
if count == len(s1):  
    print(s1, 'is a subset of', s2)
else:
    print(s1, 'is not a subset of', s2)

Enter first set separated by comma:  1,2,3,4
Enter second set separated by comma:  1,2,3,4,5,6,7

TypeError: 'int' object is not callable

In [1123]:
s1 = set(i.strip() for i in input('Enter first set separated by comma: ').split(','))
s2 = set(i.strip() for i in input('Enter second set separated by comma: ').split(','))
count = sum(1 for i in s1 if i in s2) 
if count == len(s1):  
    print(s1, 'is a subset of', s2)
else:
    print(s1, 'is not a subset of', s2)

Enter first set separated by comma:  1,2,3,4,
Enter second set separated by comma:  1,2,3,4,5,6,7,8

TypeError: 'int' object is not callable

In [1125]:
s1 = set(i.strip() for i in input('Enter first set separated by comma: ').split(','))
s2 = set(i.strip() for i in input('Enter second set separated by comma: ').split(','))

count = sum([1 for i in s1 if i in s2])  # Brackets lagane se sure ho jayega ki sum() function hi call ho raha hai

if count == len(s1):  
    print(s1, 'is a subset of', s2)
else:
    print(s1, 'is not a subset of', s2)

Enter first set separated by comma:  1,2,3,4
Enter second set separated by comma:  1,2,3,4,5

TypeError: 'int' object is not callable

In [1127]:
s1 = set(i.strip() for i in input('Enter first set separated by comma: ').split(','))
s2 = set(i.strip() for i in input('Enter second set separated by comma: ').split(','))

count = sum([1 for i in s1 if i in s2])  # Brackets lagane se sure ho jayega ki sum() function hi call ho raha hai

if count == len(s1):  
    print(s1, 'is a subset of', s2)
else:
    print(s1, 'is not a subset of', s2)

Enter first set separated by comma:  1,2,3,4
Enter second set separated by comma:  1,2,3,4,5,6,7

TypeError: 'int' object is not callable

In [1129]:
s1 = set(input('Enter first set separated by comma: ').split(','))
s2 = set(input('Enter second set separated by comma: ').split(','))
if s1.issubset(s2):  
    print(s1, 'is a subset of', s2)
else:
    print(s1, 'is not a subset of', s2)

Enter first set separated by comma:  1,2,3,4
Enter second set separated by comma:  1,2,3,4,5,6,7

{'1', '4', '3', '2'} is a subset of {'1', '4', '2', '6', '3', '7', '5'}

In [1131]:
s1 = set(input('Enter first set separated by comma: ').split(','))
s2 = set(input('Enter second set separated by comma: ').split(','))
for ele in s1:
    if ele not in s2:
        print(s1, 'is not a subsetof', s2)
        break
else:
    print(s1, 'is the subset of', s2)

Enter first set separated by comma:  1,2,3,4
Enter second set separated by comma:  1,2,3,4,5,6,7

{'1', '4', '3', '2'} is the subset of {'1', '4', '2', '6', '3', '7', '5'}

FUNCTION

In [1138]:
def factorial(n):
    prod = 1
    for i in range(1, n + 1):
        prod *= i
    return prod

In [1140]:
def factorial(n):
    prod = 1
    for i in range(1, n + 1):
        prod *= i
    return prod
x = factorial(4)
x

24

In [1142]:
factorial(4)

24

In [1144]:
for n in range(1, 11):
    print(factorial(n))

1
2
6
24
120
720
5040
40320
362880
3628800

In [1146]:
def Display(s):
    print(s)

In [1148]:
Display('Pankaj')

Pankaj

In [1150]:
Display(12)

12

In [1152]:
Display(12.34)

12.34

In [1156]:
x = Display(10)

10

In [1160]:
print(x)

None

In [1162]:
x = factorial()

TypeError: factorial() missing 1 required positional argument: 'n'

In [1164]:
def mul(a, b):
    return a * b

In [1168]:
mul(2, 30)

60

In [1172]:
mul(10)

TypeError: mul() missing 1 required positional argument: 'b'

In [1174]:
mul()

TypeError: mul() missing 2 required positional arguments: 'a' and 'b'

In [1177]:
def Isprime(n):
    if n == 1:
        false
    for i in range(2, n):
        if n % i == 0:
            break
    else:
        return True
    return False

In [1179]:
Isprime(10)

False

In [1181]:
Isprime(9)

False

In [1183]:
Isprime(11)

True

In [1185]:
Isprime(2)

True

In [1189]:
for i in range(10, 101):
    print(Isprime(i))

False
True
False
True
False
False
False
True
False
True
False
False
False
True
False
False
False
False
False
True
False
True
False
False
False
False
False
True
False
False
False
True
False
True
False
False
False
True
False
False
False
False
False
True
False
False
False
False
False
True
False
True
False
False
False
False
False
True
False
False
False
True
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
False
False
True
False
False
False
False
False
False
False
True
False
False
False

In [1191]:
for i in range(10, 101):
    if Isprime(i):
        print(i, 'is prime')

11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

In [1197]:
def Twice(n):
    return n * 2

In [1199]:
Twice(2)

4

In [1205]:
def Tw(n):
    n = n * 2
i = 2
Tw(1)
print(i)

2

In [1211]:
def Twice(l):
    for i in range(len(l)):
        l[i] *= 2
l1 = [1, 2, 3, 4, 5]
Twice(l1)
l1

[2, 4, 6, 8, 10]

In [1215]:
def f():
    a = 10
    a += 2
    print(a)
f()
print(a)

12
{1: 'Pankaj', 2: 'Amit'}

In [1223]:
a = 111
def f():
    a1 = 10
    print(a1)
f()
print(a)

10
111

In [1226]:
x = 10
def f():
    y = 200
    print(y)
    print(x)
x = 234
f()
print(x)

200
234
234

In [1228]:
x = 10
def f():
    y = 200
    print(y)
    print(x)
f()
x = 234
print(x)

200
10
234

In [1230]:
def f():
    x = 10
    print(x)
    print(z)
print(z)
f()
z = 200

NameError: name 'z' is not defined

In [1236]:
a = 10
def f():
    a = 90
    print(id(a))
f()
id(a)

4304626240

4304623680

In [1259]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        prod = 1
        for i in range(1, n + 1):
            prod *= i
        return prod
def factorial_series(n):
    sum = 0
    for i in range(1, n + 1):
        sum += 1 / factorial(i)
    return sum
n = int(input("Enter number:"))
if n < 0:
    print('Invalid input')
else:
    print(f'Factorial series of {n} ia : {factorial_series(n)}')

Enter number: -4

Invalid input

In [1275]:
def sin_series(n, x): 
    sum = 0
    for i in range(1, n + 1):
        sum += ((-1) ** i) * (x ** ((2 * i) + 1)) / factorial((2 * i) + 1)
sin_series(5, 0.5)

In [1281]:
def sin_series(n, x):
    sum = 0
    for i in range(n):
        sum += ((-1) ** i) * (x ** ((2 * i) + 1)) / factorial((2 * i) + 1)
    return sum
sin_series(5, 0.5)

0.4794255386164159

In [1283]:
def cos_series(n, x):
    sum_series = 0
    for i in range(n):
        sum_series += ((-1) ** i) * (x ** (2 * i)) / factorial(2 * i)
    return sum_series
print(cos_series(5, 0.5))

0.8775825621589781

In [1288]:
def star_printing(n):
    for i in range(n + 1):
        for j in range(i):
            print(' * ', end = '')
        print()
print(star_printing(6))

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
None

In [1290]:
star_printing(6)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *

In [1292]:
def f(a, b):
    return a + b, a - b
x, y = f(10, 20)
print(x, y)

30 -10

In [1294]:
type(x)

int

In [1296]:
type(f(1,2))

tuple

In [1320]:
def fx():
    ''' This is python programing'''
    return 32
print(fx())

32

In [1322]:
fx.__doc__

' This is python programing'

In [1324]:
fx.__doc__

' This is python programing'

In [1326]:
def f(a, b, c):
    return a + b - c
f(10, 20, 30)

0

In [1328]:
f(2, 1, 3)

0

In [1330]:
f(30, 20, 10)

40

In [1332]:
f(12)

TypeError: f() missing 2 required positional arguments: 'b' and 'c'

In [1336]:
def f(a, b, c, d):
    return a * b / c -d

In [1338]:
f(10, 20, 30, 40)

-33.333333333333336

In [1340]:
f(30, 20, 10, 40)

20.0

In [1342]:
f(d = 40,c = 30, a = 10, b = 20)

-33.333333333333336

In [1348]:
f(a = 10, b = 20, 30, 40)

SyntaxError: positional argument follows keyword argument (1612787036.py, line 1)

In [1350]:
f(1, 20, b = 30, d = 40)

TypeError: f() got multiple values for argument 'b'

In [1352]:
f(10, 20, c = 30, d = 40)

-33.333333333333336

In [1354]:
f(10, 20, d = 30, c = 40)

-25.0

In [1356]:
def sum(a, b):
    return a + b
sum(10, 20)

30

In [1358]:
sum(10, 20, 30)

TypeError: sum() takes 2 positional arguments but 3 were given

In [1360]:
def sum(a, b, c):
    return a + b + c
sum (10, 20, 30)

60

In [1362]:
sum(10,20)

TypeError: sum() missing 1 required positional argument: 'c'

In [1366]:
def sum(a, b, c = 0):
    return a + b + c

sum(10, 20)

In [1369]:
sum(20, 30)

50

In [1371]:
def sum(a = 0, b = 0, c = 0, d = 0):
    return a + b + c + d
sum(10)

10

In [1373]:
sum(10, 20)

30

In [1375]:
sum(10, 20 , 30)

60

In [1377]:
sum(10, 20, 30 ,40)

100

In [1379]:
sum()

0

In [1381]:
def f( a = 0, b = 0, c, d):
    return a + b + c + d
f(20, 30)

SyntaxError: parameter without a default follows parameter with a default (3836192407.py, line 1)

In [1383]:
def f(*n):
    sum = 0
    for ele in n:
        sum += ele
    return sum
f()

0

In [1385]:
f(10)

10

In [1387]:
f(1, 2, 3)

6

In [1389]:
f(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [1391]:
def f1(*n):
    for ele in n:
        print(ele)
f1()

In [1393]:
f1(1, 2, 4)

1
2
4

In [1397]:
f1(1, 21.3, 'panka', True)

1
21.3
panka
True

In [1401]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [1403]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [1405]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [1407]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [1409]:
help(string)

NameError: name 'string' is not defined

In [1411]:
help(char)

NameError: name 'char' is not defined

In [1413]:
help(string)

NameError: name 'string' is not defined

In [1415]:
import string
help(string)

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.12/library/string.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(self, format_string, /, *args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  get_identifiers(self)
     |
     |  is_valid(self)
     |
     |  safe_substitute(self, mapping={}, /, **kws)
     |
     |  substitute(self, mapping={}, /, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __init_subclass__() from builtins.type
     |      This method is called when a class is subclassed.
     |
     |      The default implementation does nothing. It may be
     |      overridden to extend subclasses.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = re.IGNORECASE
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n            \\$(?:\n              ...identifie...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    /opt/anaconda3/lib/python3.12/string.py

In [1417]:
help(bool)

Help on class bool in module builtins:

class bool(int)
 |  bool(x) -> bool
 |
 |  Returns True when the argument x is true, False otherwise.
 |  The builtins True and False are the only two instances of the class bool.
 |  The class bool is a subclass of the class int, and cannot be subclassed.
 |
 |  Method resolution order:
 |      bool
 |      int
 |      object
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from int:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from int:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from int:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [1419]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is exactly equal to the original float.
 |
 |      The ratio is in lowest terms and has a positive denominator.  Raise
 |      OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [1421]:
help(double)

NameError: name 'double' is not defined

In [1423]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [1425]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [1427]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [1433]:
def f(** kwargs):
    for k, v in kwargs.items():
        print('Key is', k, 'and Value is', v)

In [1435]:
f(a = 1, b = 'Pankaj', c = 12.3, d =[1, 2, 3, 4])

Key is a and Value is 1
Key is b and Value is Pankaj
Key is c and Value is 12.3
Key is d and Value is [1, 2, 3, 4]

In [1439]:
help(**kwargs)

NameError: name 'kwargs' is not defined

In [1441]:
f(b = 'Pankaj', a = 'Hello')

Key is b and Value is Pankaj
Key is a and Value is Hello

In [1443]:
s = lambda x : x * x * x
s(4)

64

In [1445]:
def f(a, b):
    return a * b

In [1447]:
f(10, 20)

200

In [1449]:
f = lambda a, b : a * b
f(10, 20)

200

In [1451]:
f(10, 30)

300

In [1453]:
help(lambda)

SyntaxError: invalid syntax (670488139.py, line 1)

In [1455]:
t = lambda x, y : x if x < y else y
t(10, 30)

10

In [1457]:
t(1,-44)

-44

In [1459]:
def f(x):
    if x % 3 == 0: return True
    else: return False
x = filter(f, [10, 20, 30, 40, 50, 63])
type(x)

filter

In [1461]:
li = list(x)

In [1463]:
li

[30, 63]

In [1465]:
type(li)

list

In [1467]:
x

In [1469]:
output = list(filter(lambda x : x % 3 == 0, [10, 20, 30, 40, 50, 63]))

In [1471]:
output

[30, 63]

In [1473]:
def f(x):
    return x * x * x
out = list(map(f, [1, 2, 3, 4, 5]))
out

[1, 8, 27, 64, 125]

In [1481]:
 outp = list(map(lambda x : x * x * x, [1, 2, 3, 4, 5]))

In [1483]:
outp

[1, 8, 27, 64, 125]

In [1485]:
a = [1, 2, 3, 4, 5]
b = [11, 12, 13, 14, 15]
c = list(map(lambda x, y : x + y, a, b))
c

[12, 14, 16, 18, 20]

In [1487]:
def f(x):
    return x * x * x
f(10)

1000

In [1489]:
g = f

In [1491]:
g(100)

1000000

In [1493]:
g(10)

1000

In [1495]:
g(2)

8

In [1497]:
def f1():
     print('start 1')
     f2()
     print('end 1')
def f2():
    print('Start 2')
    f3()
    print('End 2')
def f3():
    print('Start 3')
    print('End 3')
f1()

start 1
Start 2
Start 3
End 3
End 2
end 1

OOPS

In [1502]:
class student:
    ''' This ia a student class'''
print(student.__doc__)

 This ia a student class

In [1508]:
class Teacher:
    '''This is doc string'''
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
    def display(self):
        print('Name:',self.name)
        print('Age:',self.age)

In [1510]:
t = Teacher()

In [1512]:
t.display()

Name: Pankaj
Age: 41

In [1524]:
class Teacher:
    '''This is doc string'''
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
        print('Constructor executes')
    def display(self):
        print('Name:',self.name)
        print('Age:',self.age)

In [1526]:
t2 = Teacher()

Constructor executes

In [1528]:
t2.display()

Name: Pankaj
Age: 41

In [1530]:
t3 = Teacher()

Constructor executes

In [1532]:
t3.display()

Name: Pankaj
Age: 41

In [1534]:
t4 = Teacher()

Constructor executes

In [1542]:
class Teacher:
    '''This is doc string'''
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
        print(id(self))
        print('Constructor executes')
    def display(self):
        print('Name:',self.name)
        print('Age:',self.age)

In [1544]:
t4 = Teacher()

4812230912
Constructor executes

In [1546]:
id(t4)

4812230912

In [1548]:
self.name

NameError: name 'self' is not defined

In [1550]:
class Teacher:
    '''This is doc string'''
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
        print(id(self))
        print('Constructor executes')
    def display(self):
        print('Name:',self.name)
        print('Age:',self.age)

In [1552]:
t1 = Teacher()
t2 = Teacher()
t3 = Teacher()

4809010128
Constructor executes
4809003696
Constructor executes
4807096368
Constructor executes

In [1554]:
t1.display()

Name: Pankaj
Age: 41

In [1556]:
t2.display()

Name: Pankaj
Age: 41

In [1558]:
t3.display()

Name: Pankaj
Age: 41

In [1563]:
class Teacher:
    institute = 'PW'
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
print(Teacher.institute)

PW

In [1565]:
t = Teacher()
t.institute

'PW'

In [1567]:
class Teacher:
    @classmethod
    def fun(cls):
        print(id(cls))
print(id(Teacher))

4769692592

In [1569]:
Teacher.fun()

4769692592

In [1571]:
class Demo:
    def __init__(self):
        self.x = 20
        self.y = 90
d = Demo()

In [1573]:
d.x

20

In [1575]:
d.y

90

In [1577]:
class Demo:
    def __init__(self):
        self.x = 20
        self.y = 90
d = Demo()

In [1579]:
d.__dict__

{'x': 20, 'y': 90}

In [1593]:
class Demo:
    def __init__(self):
        self.x = 20
        self.y = 90
    def fun(self):
        self.z = 100
d1 = Demo()
d1.__dict__

{'x': 20, 'y': 90}

In [1595]:
d2 = Demo()
d2.__dict__

{'x': 20, 'y': 90}

In [1597]:
d1.fun()

In [1599]:
d1.__dict__

{'x': 20, 'y': 90, 'z': 100}

In [1601]:
d2.__dict__

{'x': 20, 'y': 90}

In [1603]:
class emp:
    def __init__(self):
        self.name = 'Pankaj'
        self.age = 41
    def marriage(self):
        self.wife = 'Abhilasha'
e1 = emp()

In [1605]:
e1.name

'Pankaj'

In [1607]:
class emp:
    def __init__(self):
        self.__name = 'Pankaj'
        self.age = 41
    def marriage(self):
        self.wife = 'Abhilasha'
e1 = emp()

In [1609]:
e1.name

AttributeError: 'emp' object has no attribute 'name'

In [1611]:
e1.age

41

In [1615]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
c1 = Complex(2, 3)

In [1617]:
c1.real

2

In [1619]:
c1.imag

3

In [1637]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def display(self):
        print(f'{self.real} + {self.imag}i')

In [1641]:
c2 = Complex(3,4)

In [1643]:
c2.display()

3 + 4i

In [1680]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def display(self):
        print(str(self.real) + '+' + str(self.imag) + 'i')

In [1682]:
c3 = Complex(4, 6)

In [1684]:
c3.display()

TypeError: 'str' object is not callable

In [1689]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def display(self):
        print(self.real , '+', self.imag, 'i')

In [1693]:
c3 = Complex(5, 4)

In [1695]:
c3.display()

5 + 4 i

In [1705]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def display(self):
        print(self.real , '+', self.imag, 'i', sep = '')

In [1707]:
c4 = Complex(8, 4)

In [1709]:
c4.display()

8+4i

In [1735]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def display(self):
        print(self.real , '+', self.imag, 'i', sep = '')
    def Sum(self, c2):
        self.real += c2.real
        self.imag += c2.imag
c1 = Complex(2, 3)

In [1743]:
c2 = Complex(4, 5)
c1.Sum(c2)

In [1745]:
c1.display()

6+8i

In [1747]:
class Complex:
    def __init__(self, real = 0, imag = 0):
        self.real = real
        self.imag = imag
    def display(self):
        print(self.real , '+', self.imag, 'i', sep = '')
    def Sum(self, c2):
        self.real += c2.real
        self.imag += c2.imag
c1 = Complex(2, 3)

In [1749]:
c3 = Complex()

In [1751]:
c3.display()

0+0i

In [1753]:
c4 = Complex(3)

In [1755]:
c4.display()

3+0i

In [1767]:
class Fraction:
    def __init__(self, numerator = 0, denominator = 1):
        self.num = numerator
        self.deno = denominator
    def display(self):
        print(f'{self.num} / {self.deno}')
f1 = Fraction(2, 3)

In [1769]:
f1.display()

2 / 3

In [1771]:
f2 = Fraction()

In [1773]:
f2.display()

0 / 1

In [1775]:
f3 = Fraction(4)

In [1777]:
f3.display()

4 / 1

In [1793]:
class Fraction:
    def __init__(self, numerator = 0, denominator = 1):
        self.num = numerator
        self.deno = denominator
    def display(self):
        print(f'{self.num} / {self.deno}')
    def normalise(self):
        min_value = min(self.num, self.deno)
        while min_value > 1:
            if self.num % min_value == 0 and self.deno % min_value == 0:
                break
            else:
                min_value -= 1
        self.num //= min_value
        self.deno //= min_value
f = Fraction(12, 8)

In [1795]:
f.display()

12 / 8

In [1797]:
f.normalise()

In [1799]:
f.display()

3 / 2

In [1803]:
class Fraction:
    def __init__(self, numerator = 0, denominator = 1):
        self.num = numerator
        self.deno = denominator
    def display(self):
        print(f'{self.num} / {self.deno}')
    def normalise(self):
        min_value = min(self.num, self.deno)
        while min_value > 1:
            if self.num % min_value == 0 and self.deno % min_value == 0:
                break
            else:
                min_value -= 1
        self.num //= min_value
        self.deno //= min_value
    def Substract(self, f2):
        updated_num = self.num * f2.deno - f2.num * self.deno
        updated_deno = self.deno * f2.deno
        self.num = updated_num
        self.deno = updated_deno
        self.normalise()

In [1811]:
f1 = Fraction(4, 3)

In [1813]:
f1.display()

4 / 3

In [1815]:
f2 = Fraction(7, 6)

In [1817]:
f2.display()

7 / 6

In [1819]:
f1.Substract(f2)

In [1823]:
f1.display()

1 / 6

In [1833]:
class Parent:
    def __init__(self, x, y):
        self.x = x
        self.y = y
class Child(Parent):
    def __init__(self,x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b
    def display(self):
        print('x == ', self.x)
        print('y == ', self.y)
        print('a == ', self.a)
        print('b == ', self.b)

In [1837]:
c = Child(1, 2, 3, 4)

In [1839]:
c.display()

x ==  1
y ==  2
a ==  3
b ==  4

In [1841]:
class Parent:
    def __init__(self, x, y):
        self.__x = x
        self.y = y
class Child(Parent):
    def __init__(self,x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b
    def display(self):
        print('x == ', self.x)
        print('y == ', self.y)
        print('a == ', self.a)
        print('b == ', self.b)

In [1843]:
c1 = Child(1, 2, 3, 4)

In [1845]:
c1.display()

AttributeError: 'Child' object has no attribute 'x'

In [1867]:
class Parent:
    def __init__(self, x, y):
        self.__x = x 
        self.y = y
    def setx(self, x):
        self.__x = x
    def getx(self):
        return self.__x
    def display(self):
        print('x ==', self.__x)
        print('y ==',self.y) 
class Child(Parent):
    def __init__(self, x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b
    def display(self):
        super().display()
        print('a ==', self.a)
        print('b ==', self.b)

In [1869]:
c = Child(1, 2, 3, 4)

In [1871]:
c.display()

x == 1
y == 2
a == 3
b == 4

In [1873]:
class Parent:
    def __init__(self, x, y):
        self.__x = x 
        self.y = y
    def setx(self, x):
        self.__x = x
    def getx(self):
        return self.__x
    def display(self):
        print('x ==', self.getx())
        print('y ==',self.y) 
class Child(Parent):
    def __init__(self, x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b
    def display(self):
        super().display()
        print('a ==', self.a)
        print('b ==', self.b)

In [1875]:
c1 = Child(1, 2, 3, 4)

In [1877]:
c1.display()

x == 1
y == 2
a == 3
b == 4

In [1885]:
 class Parent:
    def __init__(self, x, y):
        self.__x = x 
        self.y = y
    def setx(self, x):
        self.__x = x
    def getx(self):
        return self.__x
    def display(self):
        print('x ==', self.getx())
        print('y ==',self.y) 
class Child(Parent):
    def __init__(self, x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b
    def display(self):
        #self.display()
        print('a ==', self.a)
        print('b ==', self.b)

In [1887]:
c = Child(1, 2, 3, 4)

In [1889]:
c.display()

a == 3
b == 4

In [1891]:
class Parent:
    def __init__(self, x, y):
        self.__x = x 
        self.y = y
    def setx(self, x):
        self.__x = x
    def getx(self):
        return self.__x
    def display(self):
        print('x ==', self.getx())
        print('y ==',self.y) 
class Child(Parent):
    def __init__(self, x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b

In [1893]:
c = Child(1,2, 3, 4)

In [1895]:
c.display()

x == 1
y == 2

In [1897]:
class Parent:
    def __init__(self, x, y):
        self.__x = x 
        self.y = y
    def setx(self, x):
        self.__x = x
    def getx(self):
        return self.__x
class Child(Parent):
    def __init__(self, x, y, a, b):
        super().__init__(x, y)
        self.a = a
        self.b = b

In [1899]:
c = Child(1, 2, 3, 4)

In [1901]:
c.display()

AttributeError: 'Child' object has no attribute 'display'

In [1903]:
 int.__add__(4, 7)

11

In [1905]:
list.__add__([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [1925]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def __add__(self, e2):
        new_real = self.real + e2.real
        new_imag = self.imag + e2.imag
        c3 = Complex(new_real, new_imag)
        return c3
    def display(self):
        print(f'{self.real} + {self.imag}i')

In [1927]:
c1 = Complex(2, 3)

In [1929]:
c1.display()

2 + 3i

In [1931]:
c2 = Complex(4, 5)

In [1933]:
c2.display()

4 + 5i

In [1935]:
c = c1 + c2

In [1937]:
c.display()

6 + 8i

In [1939]:
c

In [1976]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
    def __add__(self, e2):
        new_real = self.real + e2.real
        new_imag = self.imag + e2.imag
        c3 = Complex(new_real, new_imag)
        return c3
    def display(self):
        print(f'{self.real} + {self.imag}i')
    def __str__(self):
        return str(self.real) + '+' + str(self.imag) + 'i'

In [1978]:
c1 = Complex(2, 3)

In [1980]:
c1.display()

2 + 3i

In [1982]:
c2 = Complex(4, 5)

In [1984]:
c2.display()

4 + 5i

In [1986]:
c = c1 + c2

In [1988]:
c.display()

6 + 8i

In [1990]:
print(c)

6+8i

In [1994]:
print(c)

6+8i

In [1996]:
from abc import ABC, abstractmethod
class RBI(ABC):
    def __init__(self):
         print('RBI')
    def min_balance(self):
        pass
    def f(self):
        pass
c = RBI()

RBI

In [1998]:
from abc import ABC, abstractmethod
class RBI(ABC):
    def __init__(self):
         print('RBI')
    @abstractmethod
    def min_balance(self):
        pass
    def f(self):
        pass
c = RBI()

TypeError: Can't instantiate abstract class RBI without an implementation for abstract method 'min_balance'

In [2000]:
from abc import ABC, abstractmethod
class RBI(ABC):
    def __init__(self):
         print('RBI')
    def min_balance(self):
        pass
    def f(self):
        pass
c = RBI()

RBI

In [2002]:
from abc import ABC, abstractmethod
class RBI(ABC):
    def __init__(self):
         print('RBI')
    @abstractmethod
    def min_balance(self):
        pass
    @abstractmethod
    def f(self):
        pass
class ICICI(RBI):
    def __init__(self):
        print('ICICI')
    def min_balance(self):
        print('Implimented ICICI Rule')
    def fun(self): # own method
        print('Hello')
c = I

TypeError: Can't instantiate abstract class ICICI without an implementation for abstract method 'f'

In [2006]:
from abc import ABC, abstractmethod
class RBI(ABC):
    def __init__(self):
         print('RBI')
    @abstractmethod
    def min_balance(self):
        pass
    @abstractmethod
    def f(self):
        pass
class ICICI(RBI):
    def __init__(self):
        print('ICICI')
    def min_balance(self):
        print('Implimented ICICI Rule')
    def fun(self): # own method
        print('Hello')
    def f(self):
        print('Hello f')
    def g(self):
        print('Hello g')
c = ICICI()

ICICI

In [2008]:
a = 10

In [2010]:
a

10

In [2012]:
a = 'xyz'

In [2014]:
a

'xyz'

In [2016]:
a = b

In [2018]:
a

[11, 12, 13, 14, 15]

In [2020]:
a = f

In [2022]:
f

In [2024]:
a = q

NameError: name 'q' is not defined

In [2]:
d = 'pankaj' + 4

TypeError: can only concatenate str (not "int") to str

In [4]:
a = int(input())
b = int (input())

 abc

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
a = int(input())
b = int (input())
a / b

 1/0

ValueError: invalid literal for int() with base 10: '1/0'

In [10]:
a = int(input('Enter numerator'))
b = int (input('Enter Deno minator'))
a / b

Enter numerator 6
Enter Deno minator 3

2.0

In [14]:
a = int(input('Enter numerator'))
b = int (input('Enter Deno minator'))
a / b

Enter numerator 7
Enter Deno minator 0

ZeroDivisionError: division by zero

In [18]:
a = int(input('Enter numerator'))
b = int (input('Enter Deno minator'))
a / b

Enter numerator 12
Enter Deno minator a

ValueError: invalid literal for int() with base 10: 'a'

a = int(input('Enter numerator'))
b = int (input('Enter Deno minator'))
a / b

In [21]:
a = int(input('Enter numerator'))
b = int (input('Enter Deno minator'))
a / b

Enter numerator 12
Enter Deno minator 0

ZeroDivisionError: division by zero

In [29]:
try:
    a = int(input('Enter numerator'))
    b = int (input('Enter Deno minator'))
    c = a / b
    print(c)
except ValueError:
    print('Wrong')

Enter numerator abc

Wrong

In [31]:
try:
    a = int(input('Enter numerator'))
    b = int (input('Enter Deno minator'))
    c = a / b
    print(c)
except ValueError:
    print('Numerator and denominator must be interger type')

Enter numerator 10
Enter Deno minator xyz

Numerator and denominator must be interger type

In [33]:
try:
    a = int(input('Enter numerator'))
    b = int (input('Enter Deno minator'))
    c = a / b
    print(c)
except ValueError:
    print('Numerator and denominator must be interger type')
except ZeroDivisionError:
    print('Denominator must be non zero')

Enter numerator 12
Enter Deno minator 0

Denominator must be non zero

In [2]:
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

Enter numerator 12
Enter Deno minator /abc

Numerator and denominator must be interger type

Enter numerator 12
Enter Deno minator 0

Denominator must be non zero

Enter numerator 12
Enter Deno minator 4

3.0

In [ ]:
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        if b == 0:
            raise ZeroDivisionError
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

Enter numerator 12
Enter Deno minator 0

Denominator must be non zero

In [2]:
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        if b == 0:
            raise TypeError
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

Enter numerator 12
Enter Deno minator 0

TypeError:

In [12]:
class Zerodeno(Exception):
    pass
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        if b == 0:
            raise Zerodeno('hello')
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

Enter numerator 12
Enter Deno minator 0

Zerodeno: hello

In [14]:
class Zerodeno(Exception):
    'Error Zero'
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        if b == 0:
            raise Zerodeno('hello')
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

Error Zero

Enter numerator 12
Enter Deno minator 4

3.0

In [ ]:
class Zerodeno(Exception):
    'Error Zero'
while 1:
    try:
        a = int(input('Enter numerator'))
        b = int (input('Enter Deno minator'))
        if b == 0:
            raise Zerodeno('hello')
        c = a / b
        print(c)
        break
    except ValueError:
        print('Numerator and denominator must be interger type')
    except ZeroDivisionError:
        print('Denominator must be non zero')

LINKEDLIST

In [49]:
class Node:
    def __init__(self, data):
        self.data = data
        self.link = None
a = Node(10)

In [51]:
a.data

10

In [53]:
b = Node(20)

In [55]:
b.data

20

In [57]:
a.link = b

In [59]:
a

In [61]:
b

In [63]:
a.link

In [65]:
a.link.data

20

In [67]:
print(a.link.link)

None

In [69]:
a.link.link.dat

AttributeError: 'NoneType' object has no attribute 'dat'

In [71]:
l = [int(ele) for ele in input().split(',')]
start = None
for i in range(len(l)):
    new_node = Node(l[i])
    if start is None:
        start = new_node
    else:
        current = start
        while current.link is not None:
            current = current.link
        current.link = new_node

 1, 2, 3, 4, 5, 6, 7

In [73]:
def TakingInput():
    l = [int(ele) for ele in input().split(',')]
    start = None
    for i in range(len(l)):
        new_node = Node(l[i])
        if start is None:
            start = new_node
        else:
            current = start
            while current.link is not None:
                current = current.link
            current.link = new_node
    return start

In [75]:
TakingInput()

 1, 2, 3, 4, 5, 6

In [77]:
start

In [79]:
def TakingInput():
    l = [int(ele) for ele in input().split(',')]
    start = None
    for i in range(len(l)):
        new_node = Node(l[i])
        if start is None:
            start = new_node
        else:
            current = start
            while current.link:
                current = current.link
            current.link = new_node
    return start

In [81]:
r = TakingInput()

 1, 2, 3, 4, 5, 6, 7, 8

In [83]:
def Output():
    current = start
    while current is not None:
        print(current.data, end = ' ')
        current = current.link

In [85]:
r = Output()

1 2 3 4 5 6 7

In [87]:
def Output(r):
    current = start
    while current:
        print(current.data, end = ' ')
        current = current.link

In [89]:
Output(start)

1 2 3 4 5 6 7

In [91]:
def Output(r):
    current = start
    while current:
        print(str(current.data) + ' ->' , end = ' ')
        current = current.link
    print(None)

In [93]:
Output(r)

1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> None

In [95]:
def Output(r):
    current = start
    while current:
        print(current.data , '->', end = ' ')
        current = current.link
    print(None)

In [97]:
Output(start)

1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> None

In [99]:
def Output(r):
    current = r
    while current:
        print(current.data , ',', end = ' ')
        current = current.link
    print(None)

In [101]:
Output(r)

None

In [105]:
def last_node_data(current):
    if current is None:
        return None
    while current.link is not None:
        current = current.link
    return current.data

In [107]:
x = last_node_data(r)

In [109]:
print(x)

None

In [111]:
r = TakingInput()

 1, 2, 3, 4, 5, 6, 7, 8

In [113]:
Output(r)

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , None

In [115]:
x = last_node_data(r)

In [117]:
x

8

In [314]:
Output(r)

1 , 2 , 3 , 4 , 5 , 6 , 7 , None

In [316]:
def second_last_data(r):
    current = r
    if current is None or current.link is None:
        return current
    else:
        while current.link.link is not None:
            current = current.link
        return current.data

In [318]:
a = second_last_data(r)

In [320]:
a

6

In [119]:
def CountNode(x):
    current = x
    count = 0
    while current is not None:
        count += 1
        current = current.link
    return count

In [121]:
CountNode(r)

8

In [123]:
def SearchingElement(a, element):
    current = a
    while current:
        if current.data == element:
            return current
        current = current.link
    return None

In [129]:
a = TakingInput()

 1, 2, 3, 4, 5, 6

In [131]:
a = SearchingElement(r, 3)

In [133]:
a

In [135]:
a.data

3

In [ ]:
def ReverseLinkedList(r):
    prev, current , nextNode = None, r , r
    while Current:
        nextNode = current.link
        current.link = prev
        prev = current
        current = nextNode
    return prev

STACK

In [156]:
class stack:
    def __init__(self):
        self.__array = []
    def push(self, ele):
        self.__array.append(ele)
    def pop(self):
        if self.IsEmpty():
            print('Stack is Empty')
            return
        return self.__array.pop()
    def top(self):
        if self.IsEmpty():
            print('No Element')
            return
        return self.__array[-1]
    def IsEmpty(self):
        return self.size() == 0
    def size(self):
        return len(self.__array)

In [158]:
s1 = stack()

In [160]:
s1.push(10)

In [162]:
s1.push(20)

In [164]:
s1.push(30)

In [166]:
print(s1.pop())

30

In [168]:
s1.pop()

20

In [170]:
s1.pop()

10

In [172]:
s1.pop()

Stack is Empty

In [15]:
# Balanced Paranthesis Checking
def balancedParanthesis(str1):
    l = []
    for char in str1:
        if char in '({[':
            l.append(char)
        elif char == ')':
            if (not l  or l[-1] != '('):
                return False
            l.pop()
        elif char == '}':
            if (not l  or l[-1] != '{'):
                return False
            l.pop()
        elif char == ']':
            if (not l  or l[-1] != '['):
                return False
            l.pop()
    if(not l):
        return True
    else:
        return False

In [19]:
s = input('Enter the string:')
a = balancedParanthesis(s)

Enter the string: ()()

In [21]:
a

True

In [23]:
s = input('Enter the string:')
a = balancedParanthesis(s)

Enter the string: (())))

In [25]:
a

False

In [27]:
s = input('Enter the string:')
a = balancedParanthesis(s)

Enter the string: (a + b)(c + d)

In [29]:
a

True

In [31]:
s = input('Enter the string:')
a = balancedParanthesis(s)
a

Enter the string: ({})[()]

True

In [33]:
def TOH(n, S, A, D):
    if n == 1:
        print(S, '->', D)
    else:
        TOH(n - 1, S, D, A)
        print(S, '->', D)
        TOH(n - 1, A, S, D)

In [35]:
n = int(input('Enter number of Disk:'))
TOH(n, 'A', 'B', 'C')

Enter number of Disk: 5

A -> C
A -> B
C -> B
A -> C
B -> A
B -> C
A -> C
A -> B
C -> B
C -> A
B -> A
C -> B
A -> C
A -> B
C -> B
A -> C
B -> A
B -> C
A -> C
B -> A
C -> B
C -> A
B -> A
B -> C
A -> C
A -> B
C -> B
A -> C
B -> A
B -> C
A -> C

In [37]:
n = int(input('Enter number of Disk:'))
TOH(n, 'A', 'B', 'C')

Enter number of Disk: 1

A -> C

In [39]:
n = int(input('Enter number of Disk:'))
TOH(n, 'A', 'B', 'C')

Enter number of Disk: 2

A -> B
A -> C
B -> C

In [41]:
n = int(input('Enter number of Disk:'))
TOH(n, 'A', 'B', 'C')

Enter number of Disk: 3

A -> C
A -> B
C -> B
A -> C
B -> A
B -> C
A -> C

In [43]:
n = int(input('Enter number of Disk:'))
TOH(n, 'A', 'B', 'C')

Enter number of Disk: 8

A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
C -> B
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
B -> A
C -> A
C -> B
A -> B
C -> A
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C
A -> B
C -> A
C -> B
A -> B
A -> C
B -> C
B -> A
C -> A
B -> C
A -> B
A -> C
B -> C

QUEUE

In [64]:
class Queue:
    def __init__(self):
        self.__array = []
        self.__count = 0
        self.__front = 0
    def Enqueue(self, ele):
        self.__array.append(ele)
        self.__count += 1
    def Dequeue(self):
        if self.__count ==  0:
            return None
        ele = self.__array[self.__front]
        self.__front += 1
        self.__count -= 1
        return ele
    def front(self):
        if self.__count ==  0:
            return None
        ele = self.__array[self.__front]
        return ele
    def size(self):
        return self.__count
    def IsEmpty(self):
        return self.size() == 0

In [66]:
q = Queue()

In [68]:
q.Enqueue(10)

In [70]:
q.Enqueue(20)

In [72]:
q.Enqueue(30)

In [74]:
q.Enqueue(40)

In [76]:
q.Dequeue()

10

In [78]:
q.Dequeue()

20

In [80]:
q.Dequeue()

30

In [82]:
q.Dequeue()

40

In [90]:
print(q.Dequeue())

None

In [92]:
q.Enqueue(10)
q.Enqueue(20)
q.Enqueue(30)
q.Enqueue(40)
q.Enqueue(50)
q.Enqueue(60)

In [94]:
while q.IsEmpty() is False:
    print(q.Dequeue())

10
20
30
40
50
60

In [96]:
#Inbuilt Stack and Queue
#stack ==>List
import queue
q = queue.Queue()

In [98]:
q.put(10)

In [100]:
q.put(20)

In [102]:
q.put(30)

In [104]:
q.put(40)

In [106]:
q.put(50)

In [108]:
while q.empty() is False:
    print(q.get())

10
20
30
40
50

In [110]:
help(queue)

Help on module queue:

NAME
    queue - A multi-producer, multi-consumer queue.

MODULE REFERENCE
    https://docs.python.org/3.12/library/queue.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

CLASSES
    builtins.Exception(builtins.BaseException)
        _queue.Empty
        Full
    builtins.object
        _queue.SimpleQueue
        Queue
            LifoQueue
            PriorityQueue

    class Empty(builtins.Exception)
     |  Exception raised by Queue.get(block=0)/get_nowait().
     |
     |  Method resolution order:
     |      Empty
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.Exception:
     |
     |  __init__(self, /, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.Exception:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  add_note(...)
     |      Exception.add_note(note) --
     |      add a note to the exception
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class Full(builtins.Exception)
     |  Exception raised by Queue.put(block=0)/put_nowait().
     |
     |  Method resolution order:
     |      Full
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.Exception:
     |
     |  __init__(self, /, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.Exception:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  add_note(...)
     |      Exception.add_note(note) --
     |      add a note to the exception
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class LifoQueue(Queue)
     |  LifoQueue(maxsize=0)
     |
     |  Variant of Queue that retrieves most recently added entries first.
     |
     |  Method resolution order:
     |      LifoQueue
     |      Queue
     |      builtins.object
     |
     |  Methods inherited from Queue:
     |
     |  __init__(self, maxsize=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  empty(self)
     |      Return True if the queue is empty, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() == 0
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can grow before the result of empty() or
     |      qsize() can be used.
     |
     |      To create code that needs to wait for all queued tasks to be
     |      completed, the preferred technique is to use the join() method.
     |
     |  full(self)
     |      Return True if the queue is full, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() >= n
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can shrink before the result of full() or
     |      qsize() can be used.
     |
     |  get(self, block=True, timeout=None)
     |      Remove and return an item from the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until an item is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Empty exception if no item was available within that time.
     |      Otherwise ('block' is false), return an item if one is immediately
     |      available, else raise the Empty exception ('timeout' is ignored
     |      in that case).
     |
     |  get_nowait(self)
     |      Remove and return an item from the queue without blocking.
     |
     |      Only get an item if one is immediately available. Otherwise
     |      raise the Empty exception.
     |
     |  join(self)
     |      Blocks until all items in the Queue have been gotten and processed.
     |
     |      The count of unfinished tasks goes up whenever an item is added to the
     |      queue. The count goes down whenever a consumer thread calls task_done()
     |      to indicate the item was retrieved and all work on it is complete.
     |
     |      When the count of unfinished tasks drops to zero, join() unblocks.
     |
     |  put(self, item, block=True, timeout=None)
     |      Put an item into the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until a free slot is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Full exception if no free slot was available within that time.
     |      Otherwise ('block' is false), put an item on the queue if a free slot
     |      is immediately available, else raise the Full exception ('timeout'
     |      is ignored in that case).
     |
     |  put_nowait(self, item)
     |      Put an item into the queue without blocking.
     |
     |      Only enqueue the item if a free slot is immediately available.
     |      Otherwise raise the Full exception.
     |
     |  qsize(self)
     |      Return the approximate size of the queue (not reliable!).
     |
     |  task_done(self)
     |      Indicate that a formerly enqueued task is complete.
     |
     |      Used by Queue consumer threads.  For each get() used to fetch a task,
     |      a subsequent call to task_done() tells the queue that the processing
     |      on the task is complete.
     |
     |      If a join() is currently blocking, it will resume when all items
     |      have been processed (meaning that a task_done() call was received
     |      for every item that had been put() into the queue).
     |
     |      Raises a ValueError if called more times than there were items
     |      placed in the queue.
     |
     |  ----------------------------------------------------------------------
     |  Class methods inherited from Queue:
     |
     |  __class_getitem__ = GenericAlias(...) from builtins.type
     |      Represent a PEP 585 generic type
     |
     |      E.g. for t = list[int], t.__origin__ is list and t.__args__ is (int,).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Queue:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class PriorityQueue(Queue)
     |  PriorityQueue(maxsize=0)
     |
     |  Variant of Queue that retrieves open entries in priority order (lowest first).
     |
     |  Entries are typically tuples of the form:  (priority number, data).
     |
     |  Method resolution order:
     |      PriorityQueue
     |      Queue
     |      builtins.object
     |
     |  Methods inherited from Queue:
     |
     |  __init__(self, maxsize=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  empty(self)
     |      Return True if the queue is empty, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() == 0
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can grow before the result of empty() or
     |      qsize() can be used.
     |
     |      To create code that needs to wait for all queued tasks to be
     |      completed, the preferred technique is to use the join() method.
     |
     |  full(self)
     |      Return True if the queue is full, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() >= n
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can shrink before the result of full() or
     |      qsize() can be used.
     |
     |  get(self, block=True, timeout=None)
     |      Remove and return an item from the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until an item is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Empty exception if no item was available within that time.
     |      Otherwise ('block' is false), return an item if one is immediately
     |      available, else raise the Empty exception ('timeout' is ignored
     |      in that case).
     |
     |  get_nowait(self)
     |      Remove and return an item from the queue without blocking.
     |
     |      Only get an item if one is immediately available. Otherwise
     |      raise the Empty exception.
     |
     |  join(self)
     |      Blocks until all items in the Queue have been gotten and processed.
     |
     |      The count of unfinished tasks goes up whenever an item is added to the
     |      queue. The count goes down whenever a consumer thread calls task_done()
     |      to indicate the item was retrieved and all work on it is complete.
     |
     |      When the count of unfinished tasks drops to zero, join() unblocks.
     |
     |  put(self, item, block=True, timeout=None)
     |      Put an item into the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until a free slot is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Full exception if no free slot was available within that time.
     |      Otherwise ('block' is false), put an item on the queue if a free slot
     |      is immediately available, else raise the Full exception ('timeout'
     |      is ignored in that case).
     |
     |  put_nowait(self, item)
     |      Put an item into the queue without blocking.
     |
     |      Only enqueue the item if a free slot is immediately available.
     |      Otherwise raise the Full exception.
     |
     |  qsize(self)
     |      Return the approximate size of the queue (not reliable!).
     |
     |  task_done(self)
     |      Indicate that a formerly enqueued task is complete.
     |
     |      Used by Queue consumer threads.  For each get() used to fetch a task,
     |      a subsequent call to task_done() tells the queue that the processing
     |      on the task is complete.
     |
     |      If a join() is currently blocking, it will resume when all items
     |      have been processed (meaning that a task_done() call was received
     |      for every item that had been put() into the queue).
     |
     |      Raises a ValueError if called more times than there were items
     |      placed in the queue.
     |
     |  ----------------------------------------------------------------------
     |  Class methods inherited from Queue:
     |
     |  __class_getitem__ = GenericAlias(...) from builtins.type
     |      Represent a PEP 585 generic type
     |
     |      E.g. for t = list[int], t.__origin__ is list and t.__args__ is (int,).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Queue:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class Queue(builtins.object)
     |  Queue(maxsize=0)
     |
     |  Create a queue object with a given maximum size.
     |
     |  If maxsize is <= 0, the queue size is infinite.
     |
     |  Methods defined here:
     |
     |  __init__(self, maxsize=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  empty(self)
     |      Return True if the queue is empty, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() == 0
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can grow before the result of empty() or
     |      qsize() can be used.
     |
     |      To create code that needs to wait for all queued tasks to be
     |      completed, the preferred technique is to use the join() method.
     |
     |  full(self)
     |      Return True if the queue is full, False otherwise (not reliable!).
     |
     |      This method is likely to be removed at some point.  Use qsize() >= n
     |      as a direct substitute, but be aware that either approach risks a race
     |      condition where a queue can shrink before the result of full() or
     |      qsize() can be used.
     |
     |  get(self, block=True, timeout=None)
     |      Remove and return an item from the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until an item is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Empty exception if no item was available within that time.
     |      Otherwise ('block' is false), return an item if one is immediately
     |      available, else raise the Empty exception ('timeout' is ignored
     |      in that case).
     |
     |  get_nowait(self)
     |      Remove and return an item from the queue without blocking.
     |
     |      Only get an item if one is immediately available. Otherwise
     |      raise the Empty exception.
     |
     |  join(self)
     |      Blocks until all items in the Queue have been gotten and processed.
     |
     |      The count of unfinished tasks goes up whenever an item is added to the
     |      queue. The count goes down whenever a consumer thread calls task_done()
     |      to indicate the item was retrieved and all work on it is complete.
     |
     |      When the count of unfinished tasks drops to zero, join() unblocks.
     |
     |  put(self, item, block=True, timeout=None)
     |      Put an item into the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until a free slot is available. If 'timeout' is
     |      a non-negative number, it blocks at most 'timeout' seconds and raises
     |      the Full exception if no free slot was available within that time.
     |      Otherwise ('block' is false), put an item on the queue if a free slot
     |      is immediately available, else raise the Full exception ('timeout'
     |      is ignored in that case).
     |
     |  put_nowait(self, item)
     |      Put an item into the queue without blocking.
     |
     |      Only enqueue the item if a free slot is immediately available.
     |      Otherwise raise the Full exception.
     |
     |  qsize(self)
     |      Return the approximate size of the queue (not reliable!).
     |
     |  task_done(self)
     |      Indicate that a formerly enqueued task is complete.
     |
     |      Used by Queue consumer threads.  For each get() used to fetch a task,
     |      a subsequent call to task_done() tells the queue that the processing
     |      on the task is complete.
     |
     |      If a join() is currently blocking, it will resume when all items
     |      have been processed (meaning that a task_done() call was received
     |      for every item that had been put() into the queue).
     |
     |      Raises a ValueError if called more times than there were items
     |      placed in the queue.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __class_getitem__ = GenericAlias(...) from builtins.type
     |      Represent a PEP 585 generic type
     |
     |      E.g. for t = list[int], t.__origin__ is list and t.__args__ is (int,).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class SimpleQueue(builtins.object)
     |  Simple, unbounded, reentrant FIFO queue.
     |
     |  Methods defined here:
     |
     |  empty(self, /)
     |      Return True if the queue is empty, False otherwise (not reliable!).
     |
     |  get(self, /, block=True, timeout=None)
     |      Remove and return an item from the queue.
     |
     |      If optional args 'block' is true and 'timeout' is None (the default),
     |      block if necessary until an item is available. If 'timeout' is

In [116]:
s = queue.LifoQueue()

TREE

In [143]:
class BTNode:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None
n1 = BTNode(10)

In [145]:
n2 = BTNode(20)

In [147]:
n3 = BTNode(30)

In [149]:
n1.left = n2

In [151]:
n1.right = n3

In [153]:
n1.left.data

20

In [155]:
n1.right.data

30

In [157]:
n4 = BTNode(40)
n5 = BTNode(50)
n6 = BTNode(60)
n7 = BTNode(70)
n8 = BTNode(80)
n9 = BTNode(90)

In [159]:
n2.left = n4
n2.right = n5
n3.left = n6
n3.right = n7
n4.left = n8
n5.right = n9

In [165]:
def Pre(root):
    if root is None:
        return
    print(root.data)
    Pre(root.left)
    Pre(root.right)

In [167]:
Pre(n1)

10
20
40
80
50
90
30
60
70

In [169]:
def InOrder(root):
    if root is None:
        return
    InOrder(root.left)
    print(root.data)
    InOrder(root.right)

In [171]:
InOrder(n1)

80
40
20
50
90
10
60
30
70

In [173]:
def Post(root):
    if root is None:
        return
    Post(root.left)
    Post(root.right)
    print(root.data)

In [175]:
Post(n1)

80
40
90
50
20
60
70
30
10

In [177]:
def count(root):
    if root is None:
        return 0
    return 1 + count(root.left) + count(root.right)

In [179]:
count(n1)

9

In [181]:
def height(root):
    if root is None:
        return 0
    return 1 + max(height(root.left), height(root.right))

In [183]:
height(n1)

4

NUMPY

In [186]:
import numpy as np 
l = [i for i in range(1000)]
n_array = np.arange(1000)

In [190]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [192]:
print(n_array)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899
 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917
 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935
 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953
 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971
 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989
 990 991 992 993 994 995 996 997 998 999]

In [194]:
print(n_array.itemsize)

8

In [196]:
print(n_array.size)

1000

In [198]:
print(n_array.itemsize * n_array.size)

8000

In [202]:
import sys

In [204]:
a = 4
print(sys.getsizeof(a))

28

In [206]:
print(sys.getsizeof(a) * len(l))

28000

In [208]:
import time

In [210]:
a = [i for i in range(1000)]
b = [2 * i for i in range(1000)]
t1 = time.time()

In [212]:
c = [a[i] - b[i] for i in range(1000)]
t2 = time.time()

In [214]:
t2 - t1

69.26033210754395

In [9]:
import numpy as np
import time
n1 = np.arange(1000)
n2 = np.arange(1000)
t3 = time.time()

In [11]:
n3 = n2 - n1
t4 = time.time()

In [13]:
t4 - t3

1.0936410427093506

In [17]:
a = [10, 20, 30]
b = np.array(a)
print(b)

[10 20 30]

In [19]:
type(b)

numpy.ndarray

In [21]:
x = [1, 2, 3, 5.46, 6.47]
y = np.array(x)

In [25]:
print(y)

[1.   2.   3.   5.46 6.47]

In [27]:
y = np.array(x, dtype = int)
print(y)

[1 2 3 5 6]

In [31]:
l = [1, 2, 3, 4.56, 7.890, 'pankaj']
narr = np.array(l)
print(narr)

['1' '2' '3' '4.56' '7.89' 'pankaj']

In [33]:
c = [1, 2, 3, 4, 5]
narr1 = np.array(c, dtype = str)
print(narr1)

['1' '2' '3' '4' '5']

In [35]:
l2 = [1, 2, 3, 4, 5]
l2 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [42]:
narr2 = np.array(l2 * 3)

In [44]:
narr2

array([1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])

In [46]:
x = np.ones(4)

In [48]:
x

array([1., 1., 1., 1.])

In [50]:
y = np.ones(4, dtype = int)
y

array([1, 1, 1, 1])

In [52]:
print(y)

[1 1 1 1]

In [54]:
z = np.zeros(4)
print(z)

[0. 0. 0. 0.]

In [56]:
z = np.zeros(4, dtype = int)
print(z)

[0 0 0 0]

In [60]:
a = np.ones((3, 2), dtype = int)
print(a)

[[1 1]
 [1 1]
 [1 1]]

In [62]:
a = np.zeros((3, 2), dtype = int)
print(a)

[[0 0]
 [0 0]
 [0 0]]

In [64]:
c = np.full(4, 6)
print(c)

[6 6 6 6]

In [66]:
y = np.full((3, 4), 6.9)

In [68]:
print(y)

[[6.9 6.9 6.9 6.9]
 [6.9 6.9 6.9 6.9]
 [6.9 6.9 6.9 6.9]]

In [74]:
d = np.empty(4)

In [76]:
d

array([1., 1., 1., 1.])

In [86]:
e = np.empty(4, dtype = int)

In [88]:
print(e)

[4607182418800017408 4607182418800017408 4607182418800017408
 4607182418800017408]

In [90]:
b = np.arange(8)
print(b)

[0 1 2 3 4 5 6 7]

In [94]:
c = np.arange(1, 9, 2, dtype = float)

In [96]:
print(c)

[1. 3. 5. 7.]

In [98]:
a = np.linspace(3, 20)
print(a)

[ 3.          3.34693878  3.69387755  4.04081633  4.3877551   4.73469388
  5.08163265  5.42857143  5.7755102   6.12244898  6.46938776  6.81632653
  7.16326531  7.51020408  7.85714286  8.20408163  8.55102041  8.89795918
  9.24489796  9.59183673  9.93877551 10.28571429 10.63265306 10.97959184
 11.32653061 11.67346939 12.02040816 12.36734694 12.71428571 13.06122449
 13.40816327 13.75510204 14.10204082 14.44897959 14.79591837 15.14285714
 15.48979592 15.83673469 16.18367347 16.53061224 16.87755102 17.2244898
 17.57142857 17.91836735 18.26530612 18.6122449  18.95918367 19.30612245
 19.65306122 20.        ]

In [100]:
 a[1] - a[0]

0.34693877551020424

In [102]:
a[2] - a[1]

0.3469387755102038

In [106]:
b = np.linspace(3, 20, 6)
print(b)

[ 3.   6.4  9.8 13.2 16.6 20. ]

In [108]:
c = np.linspace(3, 20, 6, dtype = int)
print(c)

[ 3  6  9 13 16 20]

In [114]:
a = np.identity(3, dtype = int)
print(a)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [120]:
b = np.eye(5,dtype = int)
print(b)

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]

In [124]:
c = np.eye(2, 3, dtype = int)
print(c)

[[1 0 0]
 [0 1 0]]

In [126]:
d = np.random.rand(3)
print(d)

[0.67754527 0.82916418 0.63378771]

In [128]:
 e = np.random.rand(3, 4)
print(e)

[[0.1324283  0.40649532 0.72352207 0.5217628 ]
 [0.09247652 0.76555239 0.98619622 0.41921375]
 [0.4863449  0.8388808  0.19846273 0.17463559]]

In [130]:
l = [10, 20, 30, 40, 50]
narr = np.array(l, dtype = int)
print(l[0:3])
print(narr[0:3])

[10, 20, 30]
[10 20 30]

In [132]:
l[0]

10

In [134]:
narr[0]

10

In [136]:
narr.shape

(5,)

In [140]:
print(narr.data)
print(narr.shape)
print(narr.dtype)
print(narr.strides)

<memory at 0x15b0b6f80>
(5,)
int64
(8,)

In [144]:
l1 = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]
narr1 = np.array(l1, dtype = int)
print(l1)
print(narr1)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [146]:
print(narr1.data)
print(narr1.shape)
print(narr1.dtype)
print(narr1.strides)

<memory at 0x15b0a9490>
(5, 5)
int64
(40, 8)

In [148]:
l1[1][3]

9

In [150]:
narr1[1][3]

9

In [152]:
narr1[1,3]

9

In [156]:
l1[1][1:4]

[7, 8, 9]

In [164]:
print(narr1[1][1:4])

[7 8 9]

In [168]:
print(narr1[1, 1 : 4])

[7 8 9]

In [170]:
l1[2 : 4][4]

IndexError: list index out of range

In [172]:
l1[2 : 4][1]

[16, 17, 18, 19, 20]

In [174]:
l1[2 : 4][0]

[11, 12, 13, 14, 15]

In [178]:
print(narr1[2 : 4, 4])

[15 20]

In [182]:
print(narr1[2 : 4, 1 : 4])

[[12 13 14]
 [17 18 19]]

In [188]:
l2 = (10, 20, 30, 40, 50, 60)
x = np.random.randint(1, 30, 6)
y = np.random.randint(1, 30, 6)
print(l2)
print(x)
print(y)

(10, 20, 30, 40, 50, 60)
[15 23 20  8  4 25]
[15  5 26 18 17 17]

In [190]:
l2 = [2 * i for i in l2]
print(l2)

[20, 40, 60, 80, 100, 120]

In [194]:
print(x * 2)

[30 46 40 16  8 50]

In [196]:
print(y * 2)

[30 10 52 36 34 34]

In [204]:
print(x)
print(y)

[15 23 20  8  4 25]
[15  5 26 18 17 17]

In [208]:
n1 = x + y
n2 = x - y
n3 = x * y
n4 = x / y
print(n1)
print(n2)
print(n3)
print(n4)

[30 28 46 26 21 42]
[  0  18  -6 -10 -13   8]
[225 115 520 144  68 425]
[1.         4.6        0.76923077 0.44444444 0.23529412 1.47058824]

In [212]:
x = np.array([2, 3, 4, 5, 6])
y = np.array([1, 2, 3, 4, 5])
print(x ** y)

[   2    9   64  625 7776]

In [214]:
a = np.array([2, 3, 4, 5])
b = np.array([1, 2, 3, 4])
print(a * b)

[ 2  6 12 20]

In [216]:
x.sum()

20

In [220]:
x.mean()

4.0

In [222]:
x.min()

2

In [224]:
x.max()

6

In [226]:
x.argmin()

0

In [228]:
x.argmax()

4

In [230]:
x = np.random.randint(1, 30, 6)
y = np.random.randint(1, 30, 6)

In [232]:
print(x)
print(y)

[ 6  4  6  7 13 28]
[ 8 14 26 17  3 28]

In [236]:
 print(x > y)

[False False False False  True False]

In [238]:
print(x == y)

[False False False False False  True]

print(x != y)

In [257]:
x = np.array([12, 3, 44, 56, 90, 20], dtype = int)

y = np.array([1, 2, 3, 4, 0, 53], dtype = int)
print(x)
print(y)

In [260]:
y = np.array([1, 2, 3, 4, 0, 23], dtype = int)
print(x)
print(y)

[12  3 44 56 90 20]
[ 1  2  3  4  0 23]

In [262]:
print(np.logical_or(x, y))

[ True  True  True  True  True  True]

In [264]:
print(np.logical_and(x, y))

[ True  True  True  True False  True]

In [268]:
print(np.logical_not(x))

[False False False False False False]

In [272]:
print(np.logical_not(y))

[ True  True  True  True  True  True]

In [280]:
x = np.array([1, 23, 4, 56, 7, 89, 900], dtype = int)
y = np.random.randint(1, 100, 7) 
print(x)
print(y)

[  1  23   4  56   7  89 900]
[33 76 62 77  2 23 38]

In [282]:
print(y > 30)

[ True  True  True  True False False  True]

In [288]:
m = y > 30

In [292]:
print(m)

[ True  True  True  True False False  True]

In [294]:
arr1 = y[m]
print(arr1)

[33 76 62 77 38]

In [298]:
arr2 = y[y > 30]
print(arr2)

[33 76 62 77 38]

In [304]:
arr3 = y[y > 30 and y < 50]
print(arr3)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [306]:
arr3 = y[y > 30 & y < 50]
print(arr3)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [310]:
arr3 = y[(y > 30) & (y < 50)]
print(arr3)

[33 38]

In [312]:
print(y)

[33 76 62 77  2 23 38]

In [314]:
x = y
x

array([33, 76, 62, 77,  2, 23, 38])

In [316]:
y

array([33, 76, 62, 77,  2, 23, 38])

In [318]:
x[0] = 126

In [320]:
print(x)

[126  76  62  77   2  23  38]

In [322]:
print(x[0 : 4])

[126  76  62  77]

In [324]:
x[0 : 4] = 100
print(x)

[100 100 100 100   2  23  38]

In [328]:
x[x > 50] = 20
print(x)

[20 20 20 20  2 23 38]

In [330]:
print(x == 20)

[ True  True  True  True False False False]

In [334]:
indexes = np.where(x == 20)
indexes

(array([0, 1, 2, 3]),)

In [336]:
x = np.random.randint(1, 50, (4 , 5))
print(x)

[[40  3 43 46 42]
 [24 15 33  2 36]
 [12 32 10 45 46]
 [25 45 36 23 20]]

In [338]:
print(x > 25)

[[ True False  True  True  True]
 [False False  True False  True]
 [False  True False  True  True]
 [False  True  True False False]]

In [340]:
ba = x > 25
print(ba)

[[ True False  True  True  True]
 [False False  True False  True]
 [False  True False  True  True]
 [False  True  True False False]]

In [342]:
print(x[ba])

[40 43 46 42 33 36 32 45 46 45 36]

In [344]:
y = x
print(y)

[[40  3 43 46 42]
 [24 15 33  2 36]
 [12 32 10 45 46]
 [25 45 36 23 20]]

In [346]:
print(x)

[[40  3 43 46 42]
 [24 15 33  2 36]
 [12 32 10 45 46]
 [25 45 36 23 20]]

In [348]:
x[ba] = 0
print(x)

[[ 0  3  0  0  0]
 [24 15  0  2  0]
 [12  0 10  0  0]
 [25  0  0 23 20]]

In [350]:
x = np.random.randint(10, 20, (3, 3), dtype = int)
print(x)

[[19 18 12]
 [16 13 15]
 [15 10 14]]

In [359]:
y = np.random.randint(10, 20, (2, 3), dtype = int)
print(y)

[[11 16 15]
 [14 13 13]]

In [365]:
bar = np.array([[True, False], [False, True]])
print(bar)

[[ True False]
 [False  True]]

In [367]:
print(y[bar])

IndexError: boolean index did not match indexed array along dimension 1; dimension is 3 but corresponding boolean dimension is 2

In [369]:
print(x[bar])

IndexError: boolean index did not match indexed array along dimension 0; dimension is 3 but corresponding boolean dimension is 2

In [371]:
x = np.random.randint(10, 20, (4, 4), dtype = int)
y = np.random.randint(10, 20, (4, 4), dtype = int)
print(x)
print(y)

[[17 11 14 18]
 [17 19 18 17]
 [13 19 18 12]
 [16 10 10 19]]
[[10 13 18 12]
 [11 17 19 18]
 [16 16 19 13]
 [15 15 17 14]]

In [375]:
print(x + y)
print(x - y)
print(x * y)
print(x ** y)
print(x / y)
print(x // y)

[[27 24 32 30]
 [28 36 37 35]
 [29 35 37 25]
 [31 25 27 33]]
[[ 7 -2 -4  6]
 [ 6  2 -1 -1]
 [-3  3 -1 -1]
 [ 1 -5 -7  5]]
[[170 143 252 216]
 [187 323 342 306]
 [208 304 342 156]
 [240 150 170 266]]
[[       2015993900449       34522712143931  2603740515317055488
      1156831381426176]
 [      34271896307633  1703867893065355987 -8946610666848387072
   6665467901046659617]
 [  665416609183179841 -6706491611731658175 -8946610666848387072
       106993205379072]
 [ 1152921504606846976     1000000000000000   100000000000000000
    799006685782884121]]
[[1.7        0.84615385 0.77777778 1.5       ]
 [1.54545455 1.11764706 0.94736842 0.94444444]
 [0.8125     1.1875     0.94736842 0.92307692]
 [1.06666667 0.66666667 0.58823529 1.35714286]]
[[1 0 0 1]
 [1 1 0 0]
 [0 1 0 0]
 [1 0 0 1]]

In [377]:
x = np.random.randint(10, 20, (4, 4), dtype = int)
y = np.random.randint(10, 20, (4), dtype = int)
print(x)
print(y)

[[19 16 19 10]
 [18 12 12 15]
 [15 15 15 10]
 [10 10 11 18]]
[14 17 16 10]

In [379]:
x + y

array([[33, 33, 35, 20],
       [32, 29, 28, 25],
       [29, 32, 31, 20],
       [24, 27, 27, 28]])

In [381]:
a = np.random.randint(10, 20, (3, 4), dtype = int)
b = np.random.randint(10, 20, (4, 3), dtype = int)
print(a)
print(b)

[[15 15 14 10]
 [12 11 17 16]
 [10 16 17 17]]
[[12 19 10]
 [11 11 14]
 [12 13 14]
 [15 19 13]]

In [383]:
a  + b

ValueError: operands could not be broadcast together with shapes (3,4) (4,3)

In [385]:
b.transpose()

array([[12, 11, 12, 15],
       [19, 11, 13, 19],
       [10, 14, 14, 13]])

In [387]:
print(b)

[[12 19 10]
 [11 11 14]
 [12 13 14]
 [15 19 13]]

In [389]:
b = b.transpose()

In [391]:
b

array([[12, 11, 12, 15],
       [19, 11, 13, 19],
       [10, 14, 14, 13]])

In [401]:
x = np.array([[1], [2], [3]])
print(x.shape)

(3, 1)

In [405]:
print(x)

[[1]
 [2]
 [3]]

In [407]:
y = np.random.randint(1, 5, (3, 3), dtype = int)
print(y)

[[2 3 1]
 [4 4 4]
 [2 3 1]]

In [409]:
print(x + y)

[[3 4 2]
 [6 6 6]
 [5 6 4]]

In [411]:
a = np.array([1, 2, 3])
b = np.array([1])
a.shape

(3,)

In [413]:
print(a + b)

[2 3 4]

In [415]:
x = np.array([1, 2, 3])
y = np.array([[1], [2], [3]])
print(x)
print(y)

[1 2 3]
[[1]
 [2]
 [3]]

In [417]:
print(x + y)

[[2 3 4]
 [3 4 5]
 [4 5 6]]

In [433]:
import pandas as pd  

file_path = "/Users/abdulqadir0210423gmail.com/Downloads/Myfile.csv"  
df1 = pd.read_csv(file_path)
print(df1.head())

               MAP TYPE               MAP SUB TYPE      SCALE  \
0  Published Paper Maps  Geological Quadrangle Map  1:250,000
1  Published Paper Maps  Geological Quadrangle Map  1:250,000
2  Published Paper Maps  Geological Quadrangle Map  1:250,000
3  Published Paper Maps  Geological Quadrangle Map  1:250,000
4  Published Paper Maps  Geological Quadrangle Map  1:250,000

              MAP NAME  YEAR RESTRICTED                           STATE NAMES  \
0      Guna Quadrangle  1997         No              Madhya Pradesh,Rajasthan
1       Abu Quadrangle  1998         No                     Gujarat,Rajasthan
2  Adilabad Quadrangle  1980         No  Maharashtra,Andhra Pradesh,Karnataka
3     Adoni Quadrangle  2004         No              Karnataka,Andhra Pradesh
4      Agra Quadrangle  2014         No                         Uttar Pradesh

                                       DISTRICT NAME  \
0                                         Baran,Guna
1  Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...
2        Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad
3     Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur
4                  Agra,Mainpuri,Budaun,Aligarh,Etah

                                        TOPOSHEET NO  \
0  54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...
1  45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...
2  56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...
3  57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...
4  54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...

                                                 URL
0  https://employee.gsi.gov.in/cs/groups/public/d...
1  https://employee.gsi.gov.in/cs/groups/public/d...
2  https://employee.gsi.gov.in/cs/groups/public/d...
3  https://employee.gsi.gov.in/cs/groups/public/d...
4  https://employee.gsi.gov.in/cs/groups/public/d...

In [435]:
file_path = "/Users/abdulqadir0210423gmail.com/Downloads/Myfile.csv" 
pd.read_csv(file_path)

,MAP TYPE,MAP SUB TYPE,SCALE,MAP NAME,YEAR,RESTRICTED,STATE NAMES,DISTRICT NAME,TOPOSHEET NO,URL
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...
1,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...
3,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adoni Quadrangle,2004,No,"Karnataka,Andhra Pradesh","Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur","57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...",https://employee.gsi.gov.in/cs/groups/public/d...
4,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Agra Quadrangle,2014,No,Uttar Pradesh,"Agra,Mainpuri,Budaun,Aligarh,Etah","54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...",https://employee.gsi.gov.in/cs/groups/public/d...
...,...,...,...,...,...,...,...,...,...,...
194,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Varanasi Quadrangle,2004,No,"Uttar Pradesh,Bihar","Mirzapur,Jaunpur,Azamgarh,Rohtas,Varanasi,Bhoj...","63O01,63O05,63O09,63O13,63O02,63O06,63O10,63O1...",https://employee.gsi.gov.in/cs/groups/public/d...
195,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Vav Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Barmer,Jalore,Kutch,Mehsana","40P01,40P02,40P03,40P04,40P05,40P06,40P07,40P0...",https://employee.gsi.gov.in/cs/groups/public/d...
196,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Venkatapuram Quadrangle,2008,No,"Andhra Pradesh,Madhya Pradesh,Maharashtra","Bastar,Chandrapur,Karimnagar,Khammam,Warangal","65B02, 65B03, 65B04, 65B06, 65B07, 65B08, 65B1...",https://employee.gsi.gov.in/cs/groups/public/d...
197,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Wardha Quadrangle,2001,No,Maharashtra,NaN,"55L01, 55L02, 55L03, 55L04, 55L05, 55L06, 55L0...",https://employee.gsi.gov.in/cs/groups/public/d...
198,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Yellandu Quadrangle,2008,No,"Andhra Pradesh,Chhattisgarh","Bastar,Krishna,Khammam,Nalgonda,West Godavari,...","65C01, 65C02, 65C03, 65C04, 65C05, 65C06, 65C0...",https://employee.gsi.gov.in/cs/groups/public/d...

In [437]:
df1 = pd.read_csv(file_path)
type(df1)

pandas.core.frame.DataFrame

In [439]:
df1

,MAP TYPE,MAP SUB TYPE,SCALE,MAP NAME,YEAR,RESTRICTED,STATE NAMES,DISTRICT NAME,TOPOSHEET NO,URL
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...
1,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...
3,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adoni Quadrangle,2004,No,"Karnataka,Andhra Pradesh","Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur","57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...",https://employee.gsi.gov.in/cs/groups/public/d...
4,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Agra Quadrangle,2014,No,Uttar Pradesh,"Agra,Mainpuri,Budaun,Aligarh,Etah","54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...",https://employee.gsi.gov.in/cs/groups/public/d...
...,...,...,...,...,...,...,...,...,...,...
194,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Varanasi Quadrangle,2004,No,"Uttar Pradesh,Bihar","Mirzapur,Jaunpur,Azamgarh,Rohtas,Varanasi,Bhoj...","63O01,63O05,63O09,63O13,63O02,63O06,63O10,63O1...",https://employee.gsi.gov.in/cs/groups/public/d...
195,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Vav Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Barmer,Jalore,Kutch,Mehsana","40P01,40P02,40P03,40P04,40P05,40P06,40P07,40P0...",https://employee.gsi.gov.in/cs/groups/public/d...
196,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Venkatapuram Quadrangle,2008,No,"Andhra Pradesh,Madhya Pradesh,Maharashtra","Bastar,Chandrapur,Karimnagar,Khammam,Warangal","65B02, 65B03, 65B04, 65B06, 65B07, 65B08, 65B1...",https://employee.gsi.gov.in/cs/groups/public/d...
197,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Wardha Quadrangle,2001,No,Maharashtra,NaN,"55L01, 55L02, 55L03, 55L04, 55L05, 55L06, 55L0...",https://employee.gsi.gov.in/cs/groups/public/d...
198,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Yellandu Quadrangle,2008,No,"Andhra Pradesh,Chhattisgarh","Bastar,Krishna,Khammam,Nalgonda,West Godavari,...","65C01, 65C02, 65C03, 65C04, 65C05, 65C06, 65C0...",https://employee.gsi.gov.in/cs/groups/public/d...

In [441]:
df = df1

In [443]:
df.shape

(199, 10)

In [445]:
df1.head()

,MAP TYPE,MAP SUB TYPE,SCALE,MAP NAME,YEAR,RESTRICTED,STATE NAMES,DISTRICT NAME,TOPOSHEET NO,URL
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...
1,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...
3,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adoni Quadrangle,2004,No,"Karnataka,Andhra Pradesh","Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur","57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...",https://employee.gsi.gov.in/cs/groups/public/d...
4,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Agra Quadrangle,2014,No,Uttar Pradesh,"Agra,Mainpuri,Budaun,Aligarh,Etah","54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...",https://employee.gsi.gov.in/cs/groups/public/d...

In [447]:
df1.head(3)

,MAP TYPE,MAP SUB TYPE,SCALE,MAP NAME,YEAR,RESTRICTED,STATE NAMES,DISTRICT NAME,TOPOSHEET NO,URL
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...
1,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...

In [449]:
df1.head(1)

,MAP TYPE,MAP SUB TYPE,SCALE,MAP NAME,YEAR,RESTRICTED,STATE NAMES,DISTRICT NAME,TOPOSHEET NO,URL
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...

In [455]:
df1.columns

Index(['MAP TYPE', 'MAP SUB TYPE', 'SCALE', 'MAP NAME', 'YEAR', 'RESTRICTED',
       'STATE NAMES', 'DISTRICT NAME', 'TOPOSHEET NO', 'URL'],
      dtype='object')

In [459]:
df1.columns = ['Map Type', 'Map Sub Type', 'Scale', 'Map Name', 'Year', 'Restrcted', 'State Name', 'District Name', 'Toposheet No','Url']

In [461]:
df1

,Map Type,Map Sub Type,Scale,Map Name,Year,Restrcted,State Name,District Name,Toposheet No,Url
0,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Guna Quadrangle,1997,No,"Madhya Pradesh,Rajasthan","Baran,Guna","54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...",https://employee.gsi.gov.in/cs/groups/public/d...
1,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...
3,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Adoni Quadrangle,2004,No,"Karnataka,Andhra Pradesh","Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur","57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...",https://employee.gsi.gov.in/cs/groups/public/d...
4,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Agra Quadrangle,2014,No,Uttar Pradesh,"Agra,Mainpuri,Budaun,Aligarh,Etah","54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...",https://employee.gsi.gov.in/cs/groups/public/d...
...,...,...,...,...,...,...,...,...,...,...
194,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Varanasi Quadrangle,2004,No,"Uttar Pradesh,Bihar","Mirzapur,Jaunpur,Azamgarh,Rohtas,Varanasi,Bhoj...","63O01,63O05,63O09,63O13,63O02,63O06,63O10,63O1...",https://employee.gsi.gov.in/cs/groups/public/d...
195,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Vav Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Barmer,Jalore,Kutch,Mehsana","40P01,40P02,40P03,40P04,40P05,40P06,40P07,40P0...",https://employee.gsi.gov.in/cs/groups/public/d...
196,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Venkatapuram Quadrangle,2008,No,"Andhra Pradesh,Madhya Pradesh,Maharashtra","Bastar,Chandrapur,Karimnagar,Khammam,Warangal","65B02, 65B03, 65B04, 65B06, 65B07, 65B08, 65B1...",https://employee.gsi.gov.in/cs/groups/public/d...
197,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Wardha Quadrangle,2001,No,Maharashtra,NaN,"55L01, 55L02, 55L03, 55L04, 55L05, 55L06, 55L0...",https://employee.gsi.gov.in/cs/groups/public/d...
198,Published Paper Maps,Geological Quadrangle Map,"1:250,000",Yellandu Quadrangle,2008,No,"Andhra Pradesh,Chhattisgarh","Bastar,Krishna,Khammam,Nalgonda,West Godavari,...","65C01, 65C02, 65C03, 65C04, 65C05, 65C06, 65C0...",https://employee.gsi.gov.in/cs/groups/public/d...

In [463]:
df1.describe()

              Year
count   199.000000
mean   1995.396985
std      10.162229
min    1977.000000
25%    1990.000000
50%    1997.000000
75%    2002.000000
max    2014.000000

In [465]:
df.isnull

<bound method DataFrame.isnull of                  Map Type               Map Sub Type      Scale  \
0    Published Paper Maps  Geological Quadrangle Map  1:250,000
1    Published Paper Maps  Geological Quadrangle Map  1:250,000
2    Published Paper Maps  Geological Quadrangle Map  1:250,000
3    Published Paper Maps  Geological Quadrangle Map  1:250,000
4    Published Paper Maps  Geological Quadrangle Map  1:250,000
..                    ...                        ...        ...
194  Published Paper Maps  Geological Quadrangle Map  1:250,000
195  Published Paper Maps  Geological Quadrangle Map  1:250,000
196  Published Paper Maps  Geological Quadrangle Map  1:250,000
197  Published Paper Maps  Geological Quadrangle Map  1:250,000
198  Published Paper Maps  Geological Quadrangle Map  1:250,000

                    Map Name  Year Restrcted  \
0            Guna Quadrangle  1997        No
1             Abu Quadrangle  1998        No
2        Adilabad Quadrangle  1980        No
3           Adoni Quadrangle  2004        No
4            Agra Quadrangle  2014        No
..                       ...   ...       ...
194      Varanasi Quadrangle  2004        No
195           Vav Quadrangle  1998        No
196  Venkatapuram Quadrangle  2008        No
197        Wardha Quadrangle  2001        No
198      Yellandu Quadrangle  2008        No

                                    State Name  \
0                     Madhya Pradesh,Rajasthan
1                            Gujarat,Rajasthan
2         Maharashtra,Andhra Pradesh,Karnataka
3                     Karnataka,Andhra Pradesh
4                                Uttar Pradesh
..                                         ...
194                        Uttar Pradesh,Bihar
195                          Gujarat,Rajasthan
196  Andhra Pradesh,Madhya Pradesh,Maharashtra
197                                Maharashtra
198                Andhra Pradesh,Chhattisgarh

                                         District Name  \
0                                           Baran,Guna
1    Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...
2          Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad
3       Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur
4                    Agra,Mainpuri,Budaun,Aligarh,Etah
..                                                 ...
194  Mirzapur,Jaunpur,Azamgarh,Rohtas,Varanasi,Bhoj...
195            Banaskantha,Barmer,Jalore,Kutch,Mehsana
196      Bastar,Chandrapur,Karimnagar,Khammam,Warangal
197                                                NaN
198  Bastar,Krishna,Khammam,Nalgonda,West Godavari,...

                                          Toposheet No  \
0    54H01,54H02,54H03,54H04,54H05,54H06,54H07,54H0...
1    45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...
2    56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...
3    57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...
4    54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...
..                                                 ...
194  63O01,63O05,63O09,63O13,63O02,63O06,63O10,63O1...
195  40P01,40P02,40P03,40P04,40P05,40P06,40P07,40P0...
196  65B02, 65B03, 65B04, 65B06, 65B07, 65B08, 65B1...
197  55L01, 55L02, 55L03, 55L04, 55L05, 55L06, 55L0...
198  65C01, 65C02, 65C03, 65C04, 65C05, 65C06, 65C0...

                                                   Url
0    https://employee.gsi.gov.in/cs/groups/public/d...
1    https://employee.gsi.gov.in/cs/groups/public/d...
2    https://employee.gsi.gov.in/cs/groups/public/d...
3    https://employee.gsi.gov.in/cs/groups/public/d...
4    https://employee.gsi.gov.in/cs/groups/public/d...
..                                                 ...
194  https://employee.gsi.gov.in/cs/groups/public/d...
195  https://employee.gsi.gov.in/cs/groups/public/d...
196  https://employee.gsi.gov.in/cs/groups/public/d...
197  https://employee.gsi.gov.in/cs/groups/public/d...
198  https://employee.gsi.gov.in/cs/groups/public/d...

[199 rows x 10 columns]>

In [469]:
df1.isnull().sum()

Map Type          0
Map Sub Type      0
Scale             0
Map Name          0
Year              0
Restrcted         0
State Name        0
District Name    39
Toposheet No      0
Url               0
dtype: int64

In [475]:
df.Url

0      https://employee.gsi.gov.in/cs/groups/public/d...
1      https://employee.gsi.gov.in/cs/groups/public/d...
2      https://employee.gsi.gov.in/cs/groups/public/d...
3      https://employee.gsi.gov.in/cs/groups/public/d...
4      https://employee.gsi.gov.in/cs/groups/public/d...
                             ...
194    https://employee.gsi.gov.in/cs/groups/public/d...
195    https://employee.gsi.gov.in/cs/groups/public/d...
196    https://employee.gsi.gov.in/cs/groups/public/d...
197    https://employee.gsi.gov.in/cs/groups/public/d...
198    https://employee.gsi.gov.in/cs/groups/public/d...
Name: Url, Length: 199, dtype: object

In [477]:
df['Url']

0      https://employee.gsi.gov.in/cs/groups/public/d...
1      https://employee.gsi.gov.in/cs/groups/public/d...
2      https://employee.gsi.gov.in/cs/groups/public/d...
3      https://employee.gsi.gov.in/cs/groups/public/d...
4      https://employee.gsi.gov.in/cs/groups/public/d...
                             ...
194    https://employee.gsi.gov.in/cs/groups/public/d...
195    https://employee.gsi.gov.in/cs/groups/public/d...
196    https://employee.gsi.gov.in/cs/groups/public/d...
197    https://employee.gsi.gov.in/cs/groups/public/d...
198    https://employee.gsi.gov.in/cs/groups/public/d...
Name: Url, Length: 199, dtype: object

In [479]:
df1.iloc[2 : 5, 2 : 5]

       Scale             Map Name  Year
2  1:250,000  Adilabad Quadrangle  1980
3  1:250,000     Adoni Quadrangle  2004
4  1:250,000      Agra Quadrangle  2014

In [483]:
df.iloc[1 : 11, 1 : 11]

,Map Sub Type,Scale,Map Name,Year,Restrcted,State Name,District Name,Toposheet No,Url
1,Geological Quadrangle Map,"1:250,000",Abu Quadrangle,1998,No,"Gujarat,Rajasthan","Banaskantha,Jalore,Mehsana,Pali,Sabarkantha,Si...","45D01,45D02,45D03,45D04,45D05,45D06,45D07,45D0...",https://employee.gsi.gov.in/cs/groups/public/d...
2,Geological Quadrangle Map,"1:250,000",Adilabad Quadrangle,1980,No,"Maharashtra,Andhra Pradesh,Karnataka","Medak,Gulbarga,Bidar,Mehboobnagar,Hyderabad","56I01,56I05,56I09,56I13,56I04,56I08,56I12,56I1...",https://employee.gsi.gov.in/cs/groups/public/d...
3,Geological Quadrangle Map,"1:250,000",Adoni Quadrangle,2004,No,"Karnataka,Andhra Pradesh","Mehboobnagar,Bellary,Kurnool,Anantapur,Raichur","57E12,57E16,57E04,57E08,57E03,57E07,57E11,57E1...",https://employee.gsi.gov.in/cs/groups/public/d...
4,Geological Quadrangle Map,"1:250,000",Agra Quadrangle,2014,No,Uttar Pradesh,"Agra,Mainpuri,Budaun,Aligarh,Etah","54I01, 54I02, 54I03, 54I04, 54I05, 54I06, 54I0...",https://employee.gsi.gov.in/cs/groups/public/d...
5,Geological Quadrangle Map,"1:250,000",Ahamadnagar Quadrangle,1993,No,Maharashtra,"Pune,Ahmednagar,Aurangabad,Nasik,Beed","47I01,47I05,47I09,47I13,47I04,47I08,47I12,47I1...",https://employee.gsi.gov.in/cs/groups/public/d...
6,Geological Quadrangle Map,"1:250,000",Ahiri Quadrangle,1988,No,"Madhya Pradesh,Maharashtra","Gadchiroli,Bastar","65A01,65A05,65A09,65A13,65A04,65A08,65A12,65A1...",https://employee.gsi.gov.in/cs/groups/public/d...
7,Geological Quadrangle Map,"1:250,000",Ahmadnagar Quadrangle,1993,No,Maharashtra,"Nashik,Ahmednagar,Pune,Aurangabad,Beed","47I01, 47I02, 47I03, 47I04, 47I05, 47I06, 47I0...",https://employee.gsi.gov.in/cs/groups/public/d...
8,Geological Quadrangle Map,"1:250,000",Ahmdabad Quadrangle,2002,No,Gujarat,"Ahmedabad,Banaskantha,Gandhinagar,Kheda,Mehsan...","46A01,46A02,46A03,46A04,46A05,46A06,46A07,46A0...",https://employee.gsi.gov.in/cs/groups/public/d...
9,Geological Quadrangle Map,"1:250,000",Ahmedabad Quadrangle,2002,No,Gujarat,"Sabarkantha,Mehsana,Gandhinagar,Ahmedabad,Khed...","46A04,46A08,46A12,46A16,46A03,46A07,46A11,46A1...",https://employee.gsi.gov.in/cs/groups/public/d...
10,Geological Quadrangle Map,"1:250,000",Ajanta Quadrangle,1994,No,Maharashtra,"Buldhana,Jalgaon,Aurangabad","46P02,46P06,46P10,46P14,46P04,46P08,46P12,46P1...",https://employee.gsi.gov.in/cs/groups/public/d...

In [4]:
import pandas as pd  

file_path = "/Users/abdulqadir0210423gmail.com/Downloads/iris.csv"  
pd.read_csv(file_path)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [12]:
df = pd.read_csv(file_path)

In [14]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [16]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'kind']

In [18]:
df.head()

    sl   sw   pl   pw    kind
0  5.1  3.5  1.4  0.2  Setosa
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa

In [20]:
df.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [22]:
df.iloc

In [24]:
df.iloc()

In [26]:
df.iloc[0]

sl         5.1
sw         3.5
pl         1.4
pw         0.2
kind    Setosa
Name: 0, dtype: object

In [30]:
df.loc[0]

sl         5.1
sw         3.5
pl         1.4
pw         0.2
kind    Setosa
Name: 0, dtype: object

In [32]:
df.head

<bound method NDFrame.head of       sl   sw   pl   pw       kind
0    5.1  3.5  1.4  0.2     Setosa
1    4.9  3.0  1.4  0.2     Setosa
2    4.7  3.2  1.3  0.2     Setosa
3    4.6  3.1  1.5  0.2     Setosa
4    5.0  3.6  1.4  0.2     Setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

[150 rows x 5 columns]>

In [34]:
df.drop(0)

      sl   sw   pl   pw       kind
1    4.9  3.0  1.4  0.2     Setosa
2    4.7  3.2  1.3  0.2     Setosa
3    4.6  3.1  1.5  0.2     Setosa
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

[149 rows x 5 columns]

In [36]:
 df.head()

    sl   sw   pl   pw    kind
0  5.1  3.5  1.4  0.2  Setosa
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa

In [38]:
df.drop(0, inplace = True)

In [40]:
df.head()

    sl   sw   pl   pw    kind
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa
5  5.4  3.9  1.7  0.4  Setosa

In [42]:
df.drop(0, inplace = True)

KeyError: '[0] not found in axis'

In [44]:
df.drop(1, inplace = True)

In [46]:
df.head()

    sl   sw   pl   pw    kind
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa
5  5.4  3.9  1.7  0.4  Setosa
6  4.6  3.4  1.4  0.3  Setosa

In [48]:
df.drop(3, inplace = True)

In [50]:
df.head()

    sl   sw   pl   pw    kind
2  4.7  3.2  1.3  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa
5  5.4  3.9  1.7  0.4  Setosa
6  4.6  3.4  1.4  0.3  Setosa
7  5.0  3.4  1.5  0.2  Setosa

In [54]:
df.index

Index([  2,   4,   5,   6,   7,   8,   9,  10,  11,  12,
       ...
       140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
      dtype='int64', length=147)

In [58]:
df.index[0], df.index[1]

(2, 4)

In [60]:
df.drop(df.index[0], inplace = True)

In [62]:
df.head()

    sl   sw   pl   pw    kind
4  5.0  3.6  1.4  0.2  Setosa
5  5.4  3.9  1.7  0.4  Setosa
6  4.6  3.4  1.4  0.3  Setosa
7  5.0  3.4  1.5  0.2  Setosa
8  4.4  2.9  1.4  0.2  Setosa

In [64]:
df.index

Index([  4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
       ...
       140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
      dtype='int64', length=146)

In [68]:
df.sw > 3

4       True
5       True
6       True
7       True
8      False
       ...
145    False
146    False
147    False
148     True
149    False
Name: sw, Length: 146, dtype: bool

In [70]:
df[df.sw > 3]

      sl   sw   pl   pw       kind
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
6    4.6  3.4  1.4  0.3     Setosa
7    5.0  3.4  1.5  0.2     Setosa
9    4.9  3.1  1.5  0.1     Setosa
..   ...  ...  ...  ...        ...
140  6.7  3.1  5.6  2.4  Virginica
141  6.9  3.1  5.1  2.3  Virginica
143  6.8  3.2  5.9  2.3  Virginica
144  6.7  3.3  5.7  2.5  Virginica
148  6.2  3.4  5.4  2.3  Virginica

[64 rows x 5 columns]

In [72]:
df[df.kind == 'Setosa']

     sl   sw   pl   pw    kind
4   5.0  3.6  1.4  0.2  Setosa
5   5.4  3.9  1.7  0.4  Setosa
6   4.6  3.4  1.4  0.3  Setosa
7   5.0  3.4  1.5  0.2  Setosa
8   4.4  2.9  1.4  0.2  Setosa
9   4.9  3.1  1.5  0.1  Setosa
10  5.4  3.7  1.5  0.2  Setosa
11  4.8  3.4  1.6  0.2  Setosa
12  4.8  3.0  1.4  0.1  Setosa
13  4.3  3.0  1.1  0.1  Setosa
14  5.8  4.0  1.2  0.2  Setosa
15  5.7  4.4  1.5  0.4  Setosa
16  5.4  3.9  1.3  0.4  Setosa
17  5.1  3.5  1.4  0.3  Setosa
18  5.7  3.8  1.7  0.3  Setosa
19  5.1  3.8  1.5  0.3  Setosa
20  5.4  3.4  1.7  0.2  Setosa
21  5.1  3.7  1.5  0.4  Setosa
22  4.6  3.6  1.0  0.2  Setosa
23  5.1  3.3  1.7  0.5  Setosa
24  4.8  3.4  1.9  0.2  Setosa
25  5.0  3.0  1.6  0.2  Setosa
26  5.0  3.4  1.6  0.4  Setosa
27  5.2  3.5  1.5  0.2  Setosa
28  5.2  3.4  1.4  0.2  Setosa
29  4.7  3.2  1.6  0.2  Setosa
30  4.8  3.1  1.6  0.2  Setosa
31  5.4  3.4  1.5  0.4  Setosa
32  5.2  4.1  1.5  0.1  Setosa
33  5.5  4.2  1.4  0.2  Setosa
34  4.9  3.1  1.5  0.2  Setosa
35  5.0  3.2  1.2  0.2  Setosa
36  5.5  3.5  1.3  0.2  Setosa
37  4.9  3.6  1.4  0.1  Setosa
38  4.4  3.0  1.3  0.2  Setosa
39  5.1  3.4  1.5  0.2  Setosa
40  5.0  3.5  1.3  0.3  Setosa
41  4.5  2.3  1.3  0.3  Setosa
42  4.4  3.2  1.3  0.2  Setosa
43  5.0  3.5  1.6  0.6  Setosa
44  5.1  3.8  1.9  0.4  Setosa
45  4.8  3.0  1.4  0.3  Setosa
46  5.1  3.8  1.6  0.2  Setosa
47  4.6  3.2  1.4  0.2  Setosa
48  5.3  3.7  1.5  0.2  Setosa
49  5.0  3.3  1.4  0.2  Setosa

In [76]:
df.iloc[0]

sl         5.0
sw         3.6
pl         1.4
pw         0.2
kind    Setosa
Name: 4, dtype: object

In [80]:
df.loc[6]

sl         4.6
sw         3.4
pl         1.4
pw         0.3
kind    Setosa
Name: 6, dtype: object

In [82]:
df.loc[0] = [2.3, 3.5, 4.2, 1.4, 'setosa']

In [84]:
df.head

<bound method NDFrame.head of       sl   sw   pl   pw       kind
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
6    4.6  3.4  1.4  0.3     Setosa
7    5.0  3.4  1.5  0.2     Setosa
8    4.4  2.9  1.4  0.2     Setosa
..   ...  ...  ...  ...        ...
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica
0    2.3  3.5  4.2  1.4     setosa

[147 rows x 5 columns]>

In [88]:
df.tail()

      sl   sw   pl   pw       kind
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica
0    2.3  3.5  4.2  1.4     setosa

In [94]:
df.reset_index()

     index   sl   sw   pl   pw       kind
0        4  5.0  3.6  1.4  0.2     Setosa
1        5  5.4  3.9  1.7  0.4     Setosa
2        6  4.6  3.4  1.4  0.3     Setosa
3        7  5.0  3.4  1.5  0.2     Setosa
4        8  4.4  2.9  1.4  0.2     Setosa
..     ...  ...  ...  ...  ...        ...
142    146  6.3  2.5  5.0  1.9  Virginica
143    147  6.5  3.0  5.2  2.0  Virginica
144    148  6.2  3.4  5.4  2.3  Virginica
145    149  5.9  3.0  5.1  1.8  Virginica
146      0  2.3  3.5  4.2  1.4     setosa

[147 rows x 6 columns]

In [96]:
df

      sl   sw   pl   pw       kind
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
6    4.6  3.4  1.4  0.3     Setosa
7    5.0  3.4  1.5  0.2     Setosa
8    4.4  2.9  1.4  0.2     Setosa
..   ...  ...  ...  ...        ...
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica
0    2.3  3.5  4.2  1.4     setosa

[147 rows x 5 columns]

In [98]:
df.reset_index(drop = True, inplace = True)

In [100]:
df

      sl   sw   pl   pw       kind
0    5.0  3.6  1.4  0.2     Setosa
1    5.4  3.9  1.7  0.4     Setosa
2    4.6  3.4  1.4  0.3     Setosa
3    5.0  3.4  1.5  0.2     Setosa
4    4.4  2.9  1.4  0.2     Setosa
..   ...  ...  ...  ...        ...
142  6.3  2.5  5.0  1.9  Virginica
143  6.5  3.0  5.2  2.0  Virginica
144  6.2  3.4  5.4  2.3  Virginica
145  5.9  3.0  5.1  1.8  Virginica
146  2.3  3.5  4.2  1.4     setosa

[147 rows x 5 columns]

In [102]:
df.head()

    sl   sw   pl   pw    kind
0  5.0  3.6  1.4  0.2  Setosa
1  5.4  3.9  1.7  0.4  Setosa
2  4.6  3.4  1.4  0.3  Setosa
3  5.0  3.4  1.5  0.2  Setosa
4  4.4  2.9  1.4  0.2  Setosa

In [104]:
df.drop('sl', axis = 1)

      sw   pl   pw       kind
0    3.6  1.4  0.2     Setosa
1    3.9  1.7  0.4     Setosa
2    3.4  1.4  0.3     Setosa
3    3.4  1.5  0.2     Setosa
4    2.9  1.4  0.2     Setosa
..   ...  ...  ...        ...
142  2.5  5.0  1.9  Virginica
143  3.0  5.2  2.0  Virginica
144  3.4  5.4  2.3  Virginica
145  3.0  5.1  1.8  Virginica
146  3.5  4.2  1.4     setosa

[147 rows x 4 columns]

In [106]:
df.head()

    sl   sw   pl   pw    kind
0  5.0  3.6  1.4  0.2  Setosa
1  5.4  3.9  1.7  0.4  Setosa
2  4.6  3.4  1.4  0.3  Setosa
3  5.0  3.4  1.5  0.2  Setosa
4  4.4  2.9  1.4  0.2  Setosa

In [108]:
df.drop('sl', axis = 1, inplace = True)

In [110]:
df.head()

    sw   pl   pw    kind
0  3.6  1.4  0.2  Setosa
1  3.9  1.7  0.4  Setosa
2  3.4  1.4  0.3  Setosa
3  3.4  1.5  0.2  Setosa
4  2.9  1.4  0.2  Setosa

In [112]:
 df['diff'] = df['sw'] + df['pw']

In [114]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  3.9  1.7  0.4  Setosa   4.3
2  3.4  1.4  0.3  Setosa   3.7
3  3.4  1.5  0.2  Setosa   3.6
4  2.9  1.4  0.2  Setosa   3.1

In [116]:
df['col'] = 1

In [118]:
df.head()

    sw   pl   pw    kind  diff  col
0  3.6  1.4  0.2  Setosa   3.8    1
1  3.9  1.7  0.4  Setosa   4.3    1
2  3.4  1.4  0.3  Setosa   3.7    1
3  3.4  1.5  0.2  Setosa   3.6    1
4  2.9  1.4  0.2  Setosa   3.1    1

In [124]:
del df['col']

In [126]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  3.9  1.7  0.4  Setosa   4.3
2  3.4  1.4  0.3  Setosa   3.7
3  3.4  1.5  0.2  Setosa   3.6
4  2.9  1.4  0.2  Setosa   3.1

In [132]:
import numpy as np
df.iloc[1 : 3, 0 : 2] = np.nan

In [134]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  NaN  NaN  0.4  Setosa   4.3
2  NaN  NaN  0.3  Setosa   3.7
3  3.4  1.5  0.2  Setosa   3.6
4  2.9  1.4  0.2  Setosa   3.1

In [136]:
df.describe()

               sw          pl          pw        diff
count  145.000000  145.000000  147.000000  147.000000
mean     3.048276    3.856552    1.227891    4.284354
std      0.436543    1.730158    0.751691    0.720797
min      2.000000    1.000000    0.100000    2.600000
25%      2.800000    1.600000    0.350000    3.700000
50%      3.000000    4.400000    1.300000    4.200000
75%      3.300000    5.100000    1.800000    4.800000
max      4.400000    6.900000    2.500000    6.100000

In [138]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  NaN  NaN  0.4  Setosa   4.3
2  NaN  NaN  0.3  Setosa   3.7
3  3.4  1.5  0.2  Setosa   3.6
4  2.9  1.4  0.2  Setosa   3.1

In [140]:
df.dropna(inplace = True)

In [142]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
3  3.4  1.5  0.2  Setosa   3.6
4  2.9  1.4  0.2  Setosa   3.1
5  3.1  1.5  0.1  Setosa   3.2
6  3.7  1.5  0.2  Setosa   3.9

In [144]:
df.reset_index(drop = True, inplace = True)

In [146]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  3.4  1.5  0.2  Setosa   3.6
2  2.9  1.4  0.2  Setosa   3.1
3  3.1  1.5  0.1  Setosa   3.2
4  3.7  1.5  0.2  Setosa   3.9

In [154]:
df.iloc[1 : 4, 0 : 2] = np.nan

In [156]:
df.head()

    sw   pl   pw    kind  diff
0  3.6  1.4  0.2  Setosa   3.8
1  NaN  NaN  0.2  Setosa   3.6
2  NaN  NaN  0.2  Setosa   3.1
3  NaN  NaN  0.1  Setosa   3.2
4  3.7  1.5  0.2  Setosa   3.9

In [158]:
df.sw.mean()

3.046478873239437

In [164]:
df.sw.fillna(df.sw.mean(), inplace = True)

/var/folders/_k/yx6vfd_n1j1c7qlmys3r5tmm0000gn/T/ipykernel_20416/1861728829.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.sw.fillna(df.sw.mean(), inplace = True)

In [166]:
df.head()

         sw   pl   pw    kind  diff
0  3.600000  1.4  0.2  Setosa   3.8
1  3.046479  NaN  0.2  Setosa   3.6
2  3.046479  NaN  0.2  Setosa   3.1
3  3.046479  NaN  0.1  Setosa   3.2
4  3.700000  1.5  0.2  Setosa   3.9

In [168]:
df.pl.mean()

3.9070422535211264

In [174]:
df.pl.fillna(df.pl.mean(), inplace = True)

/var/folders/_k/yx6vfd_n1j1c7qlmys3r5tmm0000gn/T/ipykernel_20416/1155797057.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.pl.fillna(df.pl.mean(), inplace = True)

In [176]:
df.head()

         sw        pl   pw    kind  diff
0  3.600000  1.400000  0.2  Setosa   3.8
1  3.046479  3.907042  0.2  Setosa   3.6
2  3.046479  3.907042  0.2  Setosa   3.1
3  3.046479  3.907042  0.1  Setosa   3.2
4  3.700000  1.500000  0.2  Setosa   3.9